{% set circles %}
<!-- 				<circle class="blob" cx="440" cy="290" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/> -->
<circle class="blob" cx="200" cy="175" r="160" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<circle class="blob" cx="220" cy="180" r="150" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<circle class="blob" cx="180" cy="180" r="150" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<!-- 				<circle class="blob" cx="470" cy="450" r="20"  transform="rotate(0) translate(0, 0) rotate(0)"/> -->
{% endset %}
{% set circles2 %}
<!-- 				<circle class="blob" cx="440" cy="290" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/> -->
<circle class="blob" cx="200" cy="170" r="160" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<circle class="blob" cx="220" cy="180" r="150" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<circle class="blob" cx="180" cy="180" r="150" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<circle class="blob" cx="200" cy="160" r="155" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
<!-- 				<circle class="blob" cx="470" cy="450" r="20"  transform="rotate(0) translate(0, 0) rotate(0)"/> -->
{% endset %}
{% set mask %}
<rect x="200" y="200"  mask="url(#maska)" fill="#FFECBC" width="400" height="400"></rect>
{% endset %}

<section class="block block--about" data-hash="about">
{#    <div class="grid-block">#}
        <div class="block__content">
            <div class="grid">
                <div class="gc gc-8 gc-wide-8 gc-tablet-4 gc=mobile-full">
                    <div class="information">
                        <h2 class="information__title title title--h2">{{ block.title }}</h2>
                        {% if block.description %}
                            <div class="information__description">
                                {% if block.is_long_description() %}
                                    <div class="expander-short">{{ block.short_description|linebreaksbr }}</div>
                                    <div class="expander-full hidden">{{ block.description|linebreaksbr }}</div>
                                {% else %}
                                    <div class="expander-short text">{{ block.description|linebreaksbr }}</div>
                                {% endif %}
                                {% if block.is_long_description() %}
                                    <div class="expander-btn link link--cyan link--underline-dashed">
                                        <span>{{ _('Read more') }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    {% with class="rules" %}
                        {% include 'blocks/parts/_rules.html' %}
                    {% endwith %}
                </div>
                <div class="gc gc-4 gc-wide-4 gc-tablet-4 gc=mobile-full">
                    <div class="founder">
                        <div class="founder__photo">
                            {% with image=block.founder_photo.normal, prefix='about', width=400, height=400, x1=0, y1=0, x2=0, y2=0, circles=circles %}
                                {% include 'webpage/parts/_jelly.html' %}
                            {% endwith %}
                            {#                            <picture>#}
                            {#                                {% if block.founder_photo.normal.srcset_webp %}#}
                            {#                                    <source srcset="{{ block.founder_photo.normal.srcset_webp }}" sizes="100vw" type="image/webp">#}
                            {#                                {% endif %}#}
                            {#                                <source srcset="{{ block.founder_photo.normal.srcset }}" sizes="100vw" type="image/jpeg">#}
                            {##}
                            {#                                <img src="{{ block.founder_photo.normal.url }}"#}
                            {#                                     alt="{{ block.founder_caption }}"#}
                            {#                                     width="{{ block.founder_photo.normal.target_width }}"#}
                            {#                                     height="{{ block.founder_photo.normal.target_height }}">#}
                            {#                            </picture>#}
                        </div>
                        <div class="founder__caption">
                            {{ block.founder_caption }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-block">
                {% with class="rules--tablet" %}
                    {% include 'blocks/parts/_rules.html' %}
                {% endwith %}
            </div>
        </div>
{#    </div>#}
</section>
