{% if block.advantages.all() %}
    <section class="block block--advantages" data-hash="advantages">
        <div class="grid">
            <div class="gc gc-7 gc-wide-7 gc-tablet-4 gc-mobile-full">
                <h2 class="title title--h2">{{ block.title }}</h2>
            </div>
        </div>
        <div class="grid-block">
            <div class="advantages">
                <!--slider-->
                <div class="swiper-wrapper">
                    {% for advantage in block.advantages.all() %}
                        <div class="swiper-slide">
                            <div class="advantage advantage--{{ advantage.icon }}">
                                <div class="icon"></div>
                                <div class="title title--h6">{{ advantage.title }}</div>

                                {% if advantage.description %}
                                    <hr>
                                    <div class="description">{{ advantage.description|linebreaksbr }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-ui swiper-navigation">
                    <div class="swiper-button swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button swiper-button-next"></div>
                </div>
            </div>
        </div>
        <!--/Slider-->

    </section>
{% endif %}