{% if block.questions.all() %}
    <section class="block block--faq" data-hash="faq">
        <div class="grid">
            <div class="gc gc-8 gc-wide-8 gc-tablet-6 gc-mobile-full gc-center">
                <div class="block-title">
                    <h2 class="block-title__title title title--h2">{{ block.title }}</h2>
                </div>
                <div class="tabs">
                    <div class="tab" data-tab="buyers">
                        <div class="tab__title title title--h4">
                            <span>{{ _('For buyers') }}</span>
                        </div>
                    </div>
                    <div class="tab" data-tab="sellers">
                        <div class="tab__title title title--h4">
                            <span>{{ _('For sellers') }}</span>
                        </div>
                    </div>
                </div>
                <div class="questions-wrapper">
                    <ul class="questions" data-tab="buyers">
                        {% for question in block.questions_buyers() %}
                            <li class="question" data-hash="{{ question.slug }}">
                                <div class="question__question">{{ question.question }}</div>
                                <div class="question__answer text-styles">{{ question.answer|textstyles_lazy }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="questions" data-tab="sellers">
                        {% for question in block.questions_sellers() %}
                            <li class="question" data-hash="{{ question.slug }}">
                                <div class="question__question">{{ question.question }}</div>
                                <div class="question__answer text-styles">
                                    {{ question.answer|textstyles_lazy }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </section>
{% endif %}