{% if block.services.all() %}
    <section class="block block--services" data-hash="services">
        <div class="grid-block">
            <div class="slides">
                {% if block.title %}
                    {% set html %}
                        <h2 class="title">{{ block.title }}</h2>
                    {% endset %}
                {% endif %}

                {% with classes='slide--mb-full' %}
                    {% include 'blocks/parts/_slide.html' %}
                {% endwith %}
                {% for service in block.services.all() %}
                    {% set html %}
                        {% include 'blocks/parts/_service.html' %}
                    {% endset %}

                    {% include 'blocks/parts/_slide.html' %}
                {% endfor %}
            </div>
        </div>

    </section>
{% endif %}