{% if value %}
    <div class="characteristic characteristic--{{ modifier }}">
    <div class="characteristic__icon"></div>
        <div class="characteristic__wrapper">
            <div class="characteristic__value title title--h5">{{ value }}</div>
            <div class="characteristic__description">{{ description }}</div>
        </div>
    </div>
{% endif %}
