<a href="{{ property.get_absolute_url() }}" class="property">
    {% if property.status == 2 or property.status == 3 %}
        <span class="badge">{{ property.get_status_display() }}</span>
    {% endif %}
    <div class="property__preview">
        <picture>
            {% if property.preview.normal.srcset_webp %}
                <source srcset="{{ property.preview.normal.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ property.preview.normal.srcset }}" sizes="100vw" type="image/jpeg">

            {% if property.preview.mobile.srcset_webp %}
                <source srcset="{{ property.preview.mobile.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ property.preview.mobile.srcset }}" sizes="100vw" type="image/jpeg">

            <img src="{{ property.preview.normal.url }}"
                 alt="{{ property.full_address() }}"
                 loading="lazy"
                 decoding="async"
                 width="{{ property.preview.normal.target_width }}"
                 height="{{ property.preview.normal.target_height }}">
        </picture>
    </div>
    <div class="property__information">
        <div class="flex">
            <div class="flex__row">
                <div class="row">
                    <div class="property__title title title--h5">{{ property.full_address() }}</div>
                </div>
            </div>
            <div class="flex__row">
                <div class="row">
                    <div class="property__type-listing">{{ property.str_listing_type() }}</div>
                    <div class="property__type-property">{{ property.str_property_type() }}</div>
                </div>
                <div class="row">
                    <div class="property__beds property--beds">
                        <span>{{ property.beds_count }}</span>
                    </div>
                    <div class="property__baths property--baths">
                        <span>{{ property.baths_count }}</span>
                    </div>
                    <div class="property__square property--square">
                        <span>{{ property.str_square_foot() }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="property__price">
                        <span>{{ property.price }}</span>
                        {% if property.type_price == 2 %}
                            <span class="description">{{ _('Per Month') }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</a>