{% if page.features.all() %}
    <div class="property-features block">
        <div class="grid">
            <div class="gc-8 gc-wide-8 gc-tablet-full gc-mobile-full gc-center">
                <h2 class="title title--h2">
                    {{ _('Features') }}
                </h2>

                <div class="features">
                    {% for feature in page.features.all() %}
                        {% include 'properties/parts/_feature.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}