{% if page.description %}
    <div class="property-description">
        <div class="grid">
            <div class="gc-8 gc-wide-8 gc-tablet-6 gc-mobile-full gc-center">
                <h2 class="title title--h2">{{ _('Description') }}</h2>
                <div class="description text-styles">
                    {{ page.description|textstyles_lazy }}
                </div>
            </div>
        </div>
    </div>
{% endif %}