<div class="property-overview block">
    <div class="grid-block">
        <h2 class="title title--h2">
            {{ _('Overview') }}
        </h2>

        <div class="characteristics">
            {% with modifier="property_id", value=page.property_id, description=_('Property id')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="listing", value=page.str_listing_type(), description=_('Listing Type')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="property", value=page.str_property_type(), description=_('Property Type')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="status", value=page.get_status_display(), description=_('Property Status')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="rooms", value=page.rooms, description=_('Rooms')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="baths", value=page.baths_count, description=_('Bathrooms')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="beds", value=page.beds_count, description=_('Bedrooms')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="square", value=page.str_square_foot(), description=_('Size')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="land_area", value=page.str_land_area(), description=_('Land Area')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="lot", value=page.str_lot_sf(), description=_('Parking Lot')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="garages", value=page.garages, description=_('Garages')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="garage_size", value=page.str_garage_size(), description=_('Garage Size')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
            {% with modifier="price", value=page.str_price(), description=_('Price')  %}
                {% include 'properties/parts/_characteristic.html' %}
            {% endwith %}
        </div>
    </div>
</div>
