<div class="property-info block">
    <div class="grid">
        <div class="gc-7 gc-wide-7 gc-tablet-4 gc-mobile-full">
            <h1 class="title title--h4 address">{{ page.full_address() }}</h1>
            <div class="google-link title title--h6">
                <a href="{{ page.google_link() }}" rel="noopener nofollow" target="_blank">
                    <span>{{ _('View Map') }}</span>
                </a>
            </div>
        </div>
        <div class="gc-2 gc-wide-2 gc-tablet-2 gc-mobile-full">
            <div class="price">
                <span class="price__count title title--h4">{{ page.price }}</span>
                {% if page.type_price == 2 %}
                    <span class="price__description title title--h6">{{ _('Per Month') }}</span>
                {% endif %}
            </div>
        </div>
        {% if page.status == 1 %}
            <div class="gc-3 gc-wide-3 gc-tablet-2 gc-mobile-full">
                <a href="{{ page.buy_url() }}" class="btn btn--default btn--gold btn--border">
                    <span>{{ _('Call Us to Buy') }}</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
