@import "mixins";


.webpage-header {
  @include vpad(100px);

  .title {

  }

  .description {
    margin-top: 20px;
    width: 480px;
    max-width: 100%;

    @include font_default;
    @include fontsize_default;
  }

  .btn-wrapper {
    margin-top: 30px;
    width: 280px;
  }

  .grid {
    @include media_interval(0, $media768) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .gc {
    position: relative;
  }

  .jelly--header {
    right: 0;
    position: absolute;

    @include media_interval($media1280, $media1400) {
      right: -0%;
    }

    @include media_interval($media900, $media1280) {
      right: -50%;
    }

    @include media_interval($media768, $media900) {
      right: -70%;
    }

    @include media_interval(0, $media768) {
      position: relative;
    }

    .loading_cont {
      width: 100%;
      height: 100%;
    }

    #loader_header {
      display: inline-block;
      position: relative;
      width: 700px;
      height: 700px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
    }

    rect {
      transform-origin: 50% 50%;
    }

    //.blobs {
    //  filter: url("#goo_header");
    //}

    .blob {
      fill: white;
    }

    @include media_interval(0, $media768) {
      margin-bottom: -85px;
    }
  }

  @include media_interval(0, $media768) {
    padding-top: 0;
    padding-bottom: 40px;
    margin-top: -150px;
  }
}
