@import "mixins";
@import "author";


.textpage-information {
  margin-top: 20px;
  z-index: 1;
  position: relative;

  .text-information {
    margin-top: 20px;
  }

  .follow-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background-color: #F3F9FF;
    box-sizing: border-box;

    .follow-text {
      color: #3d3d3d;

      background-color: #3d3d3d;
      @include font-size(12px, 19px);

      //@include media_interval(0, $media1200) {
      //  margin-top: 15px;
      //}
    }

    .follow-text, .follow-buttons {
      //margin-top: 15px;
      text-align: center;
      display: flex;
      align-items: center;
    }

    @include media_interval(0, $media1200) {
      flex-direction: column;
      padding: 15px 10px 10px;
      justify-content: center;
      align-items: center;
    }
  }

  .share-box {

    .share-buttons {
      display: flex;
      align-items: center;
    }

    .share-buttons__button {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .fb-like {
        span, iframe {
          max-height: 20px;
        }
      }

      &.share-buttons__button--in {
        //margin-bottom: 1px;
        width: 20px;
        height: 20px;
        position: relative;

        a {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-image: url("/static/webpage/img/in.svg");
          background-size: cover;
        }
      }
      // Доделать адаптивность
      &.share-buttons__button--fb-like {
        margin: 0 -1px 0 -11px;
      }

      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity .15s ease;
      }
    }
  }
}
