@import "mixins";

$icon_size: 34px;
$default_icon_y: -256px;
$hover_icon_y: -290px;
$icons:
                (facebook, 0),
                (instagram, 34),
                (linkedin, 68),
                (twitter, 102),
                (youtube, 136),;

.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-bottom: -6px;

  .social-link {
    margin-right: 6px;
    margin-bottom: 6px;

    a {
      display: inline-block;
      width: $icon_size;
      opacity: 1;
      vertical-align: middle;
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        padding-right: 100%;
        padding-top: 100%;
        background: $sprite_url no-repeat;
      }

      &:after {
        position: absolute;
        opacity: 0;
        top: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      &, &:hover {
        &:after {
          transition: opacity .15s ease;
        }
      }
    }

    @each $icon, $pos_x in $icons {
      &.#{$icon} > a {
        &:before {
          background-position: rel-background-position($icon_size, $icon_size, -#{$pos_x + $sprite_moving_x}px, $default_icon_y);
        }
        &:after {
          background-position: rel-background-position($icon_size, $icon_size, -#{$pos_x + $sprite_moving_x}px, $hover_icon_y);
        }
      }
    }

    @include media_interval(0, $media768) {
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  @include media_interval(0, $media768) {
    margin-right: -16px;
    margin-bottom: -16px;
  }
}