@import "mixins";


.popup--service {
  max-height: 66.66vh;
  overflow: auto;
  border-radius: 10px;

  .title {
    color: #1f1f1f;
    text-align: center;

    @include font-size(60px, 60px);

    @include media_interval($media768, $media1024) {
      @include font-size(54px, 54px);
    }

    @include media_interval(0, $media768) {
      @include font-size(48px, 48px);
    }
  }

  .text {
    //color: #1f1f1f;
    margin-top: 10px;
    //text-align: center;

    //@include fontsize_default;
    //@include font_default;
  }

  .btn-wrapper {
    width: 280px;
    max-width: 100%;
    display: block;
    margin: 30px auto 0;

    .btn {
      width: 100%;
    }
  }
}