@import "mixins";


$logo_width: 204px;
$logo_height: 69px;

.logo {
  display: inline-block;
  width: 184px;
  vertical-align: middle;
  @include media_interval(0, $media_mobile) {
    width: 110px;
  }

  &:before {
    content: '';
    display: block;
    padding-bottom: #{100 * $logo_height/$logo_width + "%"};
    background: $sprite_url no-repeat -#{$sprite_moving_x}px 0;
    background-size: rel-background-size($logo_width, $logo_height);
  }

  &, &:hover {
    transition: opacity .15s ease;
  }
}

a.logo:hover {
  opacity: 0.75;
}