@import "mixins";

.webpage-header {
  @include media_interval($media_mobile, 0) {
    //&__content {
    //  margin-left: 10px;
    //}
    .title--h1 {
      margin-top: -6px;
      @include font-size(50px, 60px);
    }

    .jelly--header {
      transform: translate(85px, -45px);
    }
  }
}