{% extends 'layout.html' %}

{% block static_head %}
    {{ super() }}
    {% inline_stylesheet 'error_critical' %}
{% endblock static_head %}


{% block title %}{{ _('Page not found') }}{% endblock %}

{% block content %}

    <div class="page page--error">
        <div class="page-wrapper">
            <div class="grid">
                <div class="gc-8 gc-wide-8 gc-tablet-6 gc-mobile-full gc-center">
                    <h1 class="title">{% block code %}404{% endblock code %}</h1>
                    <div class="description">
                        {% block text %}
                            {% trans %}
                                Sorry, page not found
                            {% endtrans %}
                        {% endblock text %}
                    </div>
                    <div class="btn-wrapper">
                        <a href="{{ url('main:index') }}" class="btn btn--default btn--gold btn--border">
                            <span>{{ _('Go to the Home Page') }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
