@import "mixins";


$icons:
                (beds, 0),
                (baths, 29),
                (square, 58);
$icons_size: 29;


.block--featured-properties {
  position: relative;

  .grid-block {
    position: relative;
  }

  .badge {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $gold;
    color: $white;
    padding: 5px 15px;
    box-sizing: border-box;
    font-weight: 700;
    z-index: 1;
    border-radius: 18px;

    @include font-size(16px, 26px);
    @include font_default;
  }

  .description {
    margin-top: 10px;
    color: #1f1f1f;

    @include font_default;
    @include fontsize_default;
  }

  .properties {
    margin-top: 30px;
    padding: 10px;
    overflow: hidden;
    margin: 20px -10px -10px;
    box-sizing: border-box;
    display: block;

    .swiper-slide {
      width: 380px;
    }
  }

  .property {
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    .row {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__preview {
      display: block;
      position: relative;
      //min-height: 215px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $gold;
        opacity: 0;
      }

      img {
        width: 100%;
        //  position: absolute;
        //  left: 50%;
        //  top: 50%;
        //  transform: translate(-50%, -50%);
      }
    }

    &__information {
      height: 100%;
      box-sizing: border-box;
      padding: 10px 15px 20px;
      margin-bottom: 20px;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);

      .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: stretch; */
        height: 100%;

        &__row {
          &:first-child > .row{
            margin-top: 0;
          }
        }
      }
    }

    &__type-listing, &__type-property {
      @include font-default;
      @include fontsize_default;
    }

    &__beds, &__baths, &__square {
      color: #696969;
      display: flex;

      @include font_open_sans;
      @include font-size(18px, 28px);

      &:before {
        content: '';
        background: $sprite_url no-repeat;
        padding-right: 29px;
        padding-bottom: 29px;
        position: relative;
        box-sizing: border-box;
        display: block;
        margin-right: 10px;
      }
    }

    hr {
      margin-top: 30px;
      margin-bottom: 20px;
      background-color: #1f1f1f;
      height: 1px;
    }

    &__price {
      span {
        color: #1f1f1f;
        font-weight: 700;

        @include font_default;
        @include fontsize_default;
      }

      .description {
        margin-left: 10px;
        font-weight: 400;
      }
    }

    @each $icon, $pos_x in $icons {
      .property--#{$icon} {
        &:before {
          background-position: rel-background-position($icons_size, $icons_size, -#{$pos_x + $sprite_moving_x}px, -123px);
        }
      }
    }

    &:hover {
      .property__preview {
        &:after {
          opacity: .7;
        }
      }
    }

    &, &:hover {
      .property__preview {
        &:after {
          transition: opacity .15s ease;
        }
      }
    }
  }

  .swiper-navigation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .swiper-slide {
    margin-right: 20px;
    height: auto;
  }

  //.swiper-wrapper {
  //  overflow: hidden;
  //}

  .swiper-pagination {
    margin-top: 10px;
  }
}