{% if fallback %}
  <span>{{ title }} - </span>
  <a href="{{ url }}" target="_blank" rel="nofollow noopener" class="skiptranslate">Direct Line Development</a>
{% else %}
  <a href="{{ url }}" title="{{ title }}" rel="nofollow noopener" target="_blank">{{ title }}</a><span class="skiptranslate"> - Direct Line Development</span>
{% endif %}
