<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="grid-block">
        <div class="flex">
            <div class="rows">
                <div class="row">
                    <div class="columns">
                        <div class="column">
                            {% menu 'menu_footer' %}
                        </div>
                        <div class="column column--nowrap">
                            <div class="socials-box">
                                {% social_links %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="columns">
                        <div class="column">
                            <div class="wr-box" itemscope itemtype="https://schema.org/LocalBusiness">
                                <div class="wr wr--address">
                                    <meta itemprop="name" content="{{ COMPANY }}">
                                    <meta itemprop="legalName" content="{{ COMPANY }}">
                                    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" style="display: none !important;" >
                                        <meta itemprop="url" content="{{ static('img/favicon.png') }}"/>
                                    </div>

                                    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" style="display: none !important;">
                                        <meta itemprop="streetAddress" content="{{contacts.address}}">
                                        <meta itemprop="postalCode" content="{{ contacts.zip }}">
                                        <meta itemprop="addressRegion" content="{{contacts.region}}">
                                        <meta itemprop="addressLocality" content="{{ contacts.city }}">
                                    </div>

                                    <div class="wr__title">{{ _('Address:') }}</div>
                                    <div class="wr__content">
                                        <div class="address">
                                            {{ contacts.full_address() }}
                                        </div>
                                    </div>
                                </div>

                                {% if contacts.phone or contacts.email %}
                                    <div class="wr wr--contacts">
                                        <div class="wr__title">{{ _('Contact:') }}</div>
                                        <div class="wr__content">
                                            <div class="contacts">
                                                {% if contacts.phone %}
                                                    <div class="contacts__phone">
                                                        <a href="tel:{{ contacts.phone|phone }}" itemprop="telephone">{{ contacts.phone }}</a>
                                                    </div>
                                                {% endif %}
                                                {% if contacts.email %}
                                                    <div class="contacts__email">
                                                        <a href="mailto:{{ contacts.email }}" itemprop="email">{{ contacts.email }}</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if contacts.areas %}
                                    <div class="wr wr--areas">
                                        <div class="wr__title">{{ _('Areas Served:') }}</div>
                                        <div class="wr__content">
                                            <div class="areas">
                                                {% for area in contacts.areas.all() %}
                                                    <div class="area">{{ area }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="columns">
                        <div class="column">
                            <div class="activity-description">
                                WCS Property Solutions and affiliated or subsidiary companies are not real estate brokers or agents. WCS Property Solutions is a real estate investment company. All properties are either owned by us or the company has a purchase contract and/or option with the owner of the property, which we may assign to third parties. WCS Property Solutions is not a real estate brokerage and does not provide REALTOR® services to the public or to any of the parties to which it has contractual relationships.
                            </div>
                        </div>
                        <div class="column column--nowrap">
                            <div class="accredited">
{#                                <picture>#}
{#                                    <source srcset="{{ static('footer/img/accredited.svg') }}" type="image/svg">#}
{#                                    <source srcset="{{ static('footer/img/accredited.avif') }}" type="image/avif">#}
{#                                    <source srcset="{{ static('footer/img/accredited.webp') }}" type="image/webp">#}
{#                                    <source srcset="{{ static('footer/img/accredited.jpg') }}" type="image/jpeg">#}
{#                                    <img src="{{ static('footer/img/accredited.jpg') }}"#}
{#                                         alt="Accredited Business"#}
{#                                         loading="lazy"#}
{#                                         decoding="async"#}
{#                                         width="293"#}
{#                                         height="62">#}
{#                                </picture>#}
                                <img src="{{ static('footer/img/accredited.svg') }}"
                                         alt="Accredited Business"
                                         loading="lazy"
                                         decoding="async"
                                         width="293"
                                         height="62">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="columns">
                        <div class="column">
                            <div class="copyright">
                                &copy; {{ str_copyright }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="dl-box">
                                {% dl_link %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
