@import "mixins";


$icons:
                (team, 0),
                (network, 34);
$icons_size: 34px;


.block--about {
  position: relative;

  .grid {
    display: flex;

    @include media_interval(0, $media768) {
      flex-direction: column-reverse;
    }
  }

  .information {
    &__title {

    }
    &__description {
      margin-top: 20px;

      @include font-size(18px, 29px);
      @include font_default;
    }

    @include media_interval(0, $media768) {
      margin-top: 30px;
    }
  }

  .founder {
    transform: translateX(50px);

    &__photo {
      position: relative;
      z-index: -1;
    }

    &__caption {
      margin-top: 20px;
      color: #000;
      text-transform: capitalize;
      text-align: center;
      @include font_poppins;
      @include font-size(16px, 20px);
    }

    @include media_interval(0, $media1024) {
      transform: translateX(0);
    }
  }

  .expander-btn {
    margin-top: 10px;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;

    @include font-size(16px, 18px);
    @include font_poppins;

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity .15s ease;
    }
  }

  .rules {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    user-select: none;
    margin: -10px;

    .rule {
      width: 50%;
      padding: 10px;
      box-sizing: border-box;
      display: flex;

      &__header {
        display: flex;
        align-items: center;
      }

      &__wrapper {
        background-color: $white;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 20px rgba($black, .04), 0 2px 6px rgba($black, .04), 0 0 1px rgba($black, .04);
        border-radius: 10px;
      }

      hr {
        height: 1px;
        width: 100%;
        position: relative;
        background-color: $gold;
        margin-top: 10px;
      }

      //.title {
      //  margin-top: 3px;
      //}

      &__description {
        margin-top: 20px;
        color: #3d3d3d;

        @include font-size(14px, 22px);
        @include font-default;
      }

      .icon {
        width: 60px;
        height: 58px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background: $sprite_url no-repeat;
          background-position: rel-background-position(60px, 58px, -#{216 + $sprite_moving_x}px, -69px);
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 34px;
          height: 34px;
          background: $sprite_url no-repeat;
        }
      }

      @each $icon, $pos_x in $icons{
        &.rule--#{$icon} {
          .icon:after {
            background-position: rel-background-position($icons_size, $icons_size, -#{$pos_x + $sprite_moving_x}px, -186px);
          }
        }
      }

      @include media_interval(0, $media768) {
        width: 100%;
      }
    }

    &:not(&--tablet) {
      display: flex;

      @include media_interval($media768, $media1024) {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include media_interval($media768, $media1024) {
        display: flex;
      }
    }
  }

  .jelly--about {
    //margin-bottom: -350px;

    .loading_cont {
      width: 100%;
      height: 100%;
    }

    #loader_about {
      display: inline-block;
      position: relative;
      width: 400px;
      height: 355px;
      transform: translateX(-50%);
      left: 50%;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -10%);
    }

    rect {
      transform-origin: 50% 48%;
    }

    //.blobs {
    //  filter: url("#goo_about");
    //}

    .blob {
      fill: white;
    }
  }

}