@import "mixins";

$icons:
                (solutions, 0),
                (transparency, 34),
                (honesty, 68),
                (commissions, 102),
                (inspections, 136),
                (hassle, 170),
                (buying, 204),
                (pool, 238),
                (professional, 272);
$icons_size: 34px;
$arrow_width: 21px;
$arrow_height: 21px;

.block--advantages {

  .swiper-wrapper {
    flex-direction: row;
    align-items: stretch;
  }

  .swiper-container {
    overflow: visible;
  }

  .swiper-ui {
    max-width: none;
  }

  .swiper-slide {
    width: 286px;
    margin-right: 20px;
    height: auto;
    display: flex;
  }

  .advantages {
    display: block;
    margin-top: 15px;
    user-select: none;

    .advantage {
      display: flex;
      flex-direction: column;
      box-shadow: 0 10px 20px rgba($black, .04), 0 2px 6px rgba($black, .04), 0 0 1px rgba($black, .04);
      border-radius: 5px;
      padding: 20px;
      box-sizing: border-box;
      background-color: $white;

      hr {
        height: 1px;
        width: 100%;
        position: relative;
        background-color: $gold;
        margin-top: 10px;
      }

      .title {
        margin-top: 3px;
      }

      .description {
        margin-top: 10px;
        color: #1f1f1f;

        @include font-size(14px, 22px);
        @include font-default;
      }

      .icon {
        width: 60px;
        height: 58px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background: $sprite_url no-repeat;
          background-position: rel-background-position(60px, 58px, -#{216 + $sprite_moving_x}px, -69px);
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 34px;
          height: 34px;
          background: $sprite_url no-repeat;
        }
      }

      @each $icon, $pos_x in $icons{
        &.advantage--#{$icon} {
          .icon:after {
            background-position: rel-background-position($icons_size, $icons_size, -#{$pos_x + $sprite_moving_x}px, -152px);
          }
        }
      }
    }
  }

  .swiper-button {
    &.swiper-button-prev,
    &.swiper-button-next {
      border-radius: 0;
      margin-left: 0;
      margin-right: 0;
      width: $arrow_width;
      height: $arrow_height;
      transform: translateY(50%);

      &:before, &:after {
        width: $arrow_width;
        height: $arrow_height;
        box-shadow: none;
      }

      &.swiper-button-disabled {
        opacity: .5;
      }
      &:not(.swiper-button-disabled):hover {
        opacity: .75;
      }
    }

    &.swiper-button-next {

      &:after {
        background-position: rel-background-position($arrow_width, $arrow_height, -#{196px + $sprite_moving_x}, -220px);
      }

      &:before {
        background-position: rel-background-position($arrow_width, $arrow_height, -#{196px + $sprite_moving_x}, -220px);
      }
    }

    &.swiper-button-prev {
      &:after {
        background-position: rel-background-position($arrow_width, $arrow_height, -#{196px + $sprite_moving_x}, -220px);
      }

      &:before {
        background-position: rel-background-position($arrow_width, $arrow_height, -#{196px + $sprite_moving_x}, -220px);
      }
    }
  }

  .swiper-pagination-progressbar {
    width: calc(100% - 84px) !important;
  }
}