@import "mixins";


.block--faq {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    background-size: cover;
    z-index: -1;

    @include media_interval(0, $media1024) {
      display: none;
    }
  }

  &:before {
    top: 100px;
    left: 0;
    width: 117px;
    height: 364px;
    background-image: url("/static/blocks/img/faq/image1.svg");
  }

  &:after {
    left: 182px;
    top: -100px;
    width: 220px;
    height: 216px;
    background-image: url("/static/blocks/img/faq/image2.svg");
  }

  h2.title {
    text-align: center;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin: 40px -25px 0;
    user-select: none;

    .tab {
      color: #1f1f1f;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;

      @include hpad(25px);
      @include font-size(30px, 45px);

      .title {
        text-transform: uppercase;
      }

      &:not(.active) {
        span {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 0;
            background-color: #1f1f1f;
            height: 2px;
            left: 0;
            bottom: 0;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }

          &, &:hover {
            &:after {
              transition: width .15s ease;
            }
          }
        }
      }

      &.active {
        cursor: default;
        color: $gold;
      }
    }
  }
  .questions-wrapper {
    margin-top: 30px;
  }

  .questions {
    display: none;
    margin-top: 40px;

    .question {
      margin-top: 24px;
      border-bottom: 1px solid $gold;

      &__question {
        font-weight: 700;
        color: #1f1f1f;
        text-transform: capitalize;
        position: relative;
        transition: color .15s ease;
        cursor: pointer;
        @include font-size(22px, 26px);
        @include font_roboto;

        &:before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          border-left: 2px solid #000;
          right: 0;
          left: auto;
          box-sizing: border-box;
          top: 50%;
          transform: translate(calc(-50% + 29px), calc(-50% + -2px));
          transform-origin: 0 center;
          transition: transform .15s ease;

          @include media_interval(0, $media768) {
            right: 10px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          border-top: 2px solid #000;
          right: 0;
          left: auto;
          box-sizing: border-box;
          top: 50%;
          transform: translateY(calc(-50% + 13px));
          transition: transform .15s ease;

          @include media_interval(0, $media768) {
            right: 10px;
          }
        }

        @include media_interval(0, $media768) {
          @include font-size(18px, 22px)
        }
      }

      &__answer {
        color: #3d3d3d;

        @include font_default;
        @include fontsize_default;
      }

      &:before {
        display: none;
      }

      //padding-right: 44px;

      .question__question, .question__answer {
        display: block;
        padding: 10px 56px 10px 10px;
        box-sizing: border-box;

        @include media_interval(0, $media768) {
          padding-right: 50px;
        }
      }

      &:first-of-type {
        border-top: none;
      }
      &__question {

        &:hover {
          color: $gold;

          &:before, &:after {
            border-color: $gold;
          }
        }
      }

      @include media_interval(0, $media768) {
        margin-top: 4px;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &.active {
        .question__question {
          &:before {
            transform: translate(calc(-50% + 29px), -50%) scale(0);
          }
        }
      }
    }

    @include media_interval(0, $media768) {
      margin-bottom: 10px;
      margin-top: 20px;
    }

    &.active {
      display: block;
    }
  }

  @include media_interval(0, $media768) {
    margin-left: -10px;
    margin-right: -10px;
  }
}