@import "mixins";


.block--services {
  position: relative;

  h2.title {
    position: relative;

    @include font-size(60px, 60px);

    @include media_interval($media480, $media1280) {
      @include font-size(54px, 54px);
    }

    @include media_interval(0, $media480) {
      width: 220px;
      max-width: 100%;

      @include font-size(48px, 48px);
    }

    @include media_interval($media1280, 0) {
      margin-top: 25px;
    }

    &:before {
      content: '';
      background-image: url("/static/blocks/img/services/image1.svg");
      background-size: cover;
      position: absolute;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      width: 530px;
      height: 503px;

      @include media_interval($media480, $media1280) {
        width: 442px;
        height: 448px;
        left: 0;
        transform: translateY(0);
        top: -95px;
      }

      @include media_interval(0, $media480) {
        width: 342px;
        height: 335px;
        left: 0;
        transform: translateY(0);
        top: -20px;
      }
    }
  }

  .slides {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -10px;

    .slide {
      box-sizing: border-box;
      padding: 10px;
      flex: 0 0 25%;

      @include media_interval($media768, $media1280) {
        flex: 0 0 33.33%;
      }

      @include media_interval($media480, $media768) {
        flex: 0 0 50%;
      }

      @include media_interval(0, $media480) {
        flex: 0 0 100%;
      }

      &--mb-full {
        @include media_interval(0, $media1280) {
          flex: 0 0 100%;
        }
      }

      &__container {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .service {
    position: relative;
    border: 20px;
    box-sizing: border-box;
    width: 100%;

    &__preview {
      height: 320px;

      img {
        min-width: 100%;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
      }

      @include media_interval($media480, $media1280) {
        height: 260px;
      }

      @include media_interval(0, $media480) {
        height: 220px;
      }
    }

    &-wrapper {
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);


      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $gold;
        opacity: 0;
      }
    }

    &__title {
      display: block;
      padding: 20px 10px 0;

      @include media_interval($media480, $media1280) {
        padding-top: 15px;
      }

      @include media_interval(0, $media480) {
        padding-top: 10px;
      }
    }

    &__question {
      position: absolute;
      color: #fff;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      opacity: 0;
      box-sizing: border-box;
      padding: 20px;

      @include font-size(20px, 30px);
    }

    &:hover {
      .service-wrapper {
        &:after {
          opacity: .7;
        }
      }

      .service__question {
        opacity: 1;
      }
    }

    &--clickable {
      cursor: pointer;

      &, &:hover {
        .service-wrapper {
          &:after {
            transition: opacity .15s ease;
          }
        }

        .service__question {
          transition: opacity .15s ease;
        }
      }
    }
  }
}