{% if properties %}
    <section class="block block--featured-properties" data-hash="featured-properties">
        <div class="grid-block">
            {% if title %}
                <h2 class="title title--h2">{{ title }}</h2>
            {% endif %}
            {% if description %}
                <div class="description">{{ description|linebreaksbr }}</div>
            {% endif %}

            <div class="properties">
                <div class="swiper-wrapper">
                    {% for property in properties %}
                        <div class="swiper-slide">
                            {% include 'properties/parts/_property.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-navigation colored">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </section>
{% endif %}
