@import 'mixins';

.breadcrumbs {
  @include font_open_sans;
  @include font-size(18px, 29px);
  @include vpad(20px);

  .breadcrumb-item {
    display: inline;
    color: #1f1f1f;
    
    &.active {
      opacity: .5;
    }

    &:after {
      content: '/';
      margin: 0 5px;
    }
    &:nth-last-of-type(1) {
      &:after {
        content: none;
      }
    }
    &:nth-child(1) {
      &:after {
        content: '/';
      }
    }
  }

  .breadcrumb-link {
    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity .15s ease;
    }
  }

  @include media_interval(0, $media1280) {
    @include font-size(14px, 22px);
  }
}
