@import 'mixins';

$tablet_footer: $media1024;
$mobile_footer: $media768;


#footer-cell > footer {
  box-sizing: border-box;
  position: relative;
  @include vpad(80px);

  .menu-box {
    display: flex;
    justify-content: center;
  }

  .rows {
    display: flex;
    flex-direction: column;

    .row {
      margin-bottom: 50px;

      .columns {
        display: flex;
        justify-content: space-between;
        margin: -10px;

        .column {
          display: flex;
          padding: 10px;
          justify-content: flex-end;

          &--nowrap {
            flex: 1 0 auto;
          }

          @include media_interval(0, $mobile_footer) {
            justify-content: flex-start;
          }
        }

        @include media_interval(0, $mobile_footer) {
          flex-direction: column;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @include media_interval(0, $mobile_footer) {
        margin-bottom: 30px;

        &:last-of-type {
          margin-bottom: 30px;
        }
      }
    }
    @include media_interval(0, $mobile_footer) {
      margin-top: 30px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .wr-box {
    margin: -10px;
    display: flex;
    padding-bottom: 2px;

    .wr {
      box-sizing: border-box;
      padding: 12px;

      &__title, &__content {
        color: #1f1f1f;
      }

      &__title {
        font-weight: 100;
        @include font_roboto;
        @include font-size(18px, 25px);

        @include media_interval(0, $mobile_footer) {
          font-size: 17px;
          line-height: 20px;
        }
      }

      &__content {

        margin-top: 1px;

        @include font_open_sans;
        @include font-size(18px, 29px);

        @include media_interval(0, $media768) {
          @include font-size(16px, 22px);
        }
      }
      &--address {
        width: 180px;
        max-width: 100%;
      }
      &--contacts {
        a {
          &:hover {
            opacity: 0.75;
          }

          &, &:hover {
            transition: opacity .15s ease;
          }
        }
        @include media_interval(0, $mobile_footer) {
          margin-top: 7px;
        }
      }
      &--areas {
        width: 200px;
        max-width: 100%;
        margin-left: 10px;

        @include media_interval(0, $mobile_footer) {
          margin-left: 0;
          margin-top: 5px;
        }
      }

      @include media_interval(0, $mobile_footer) {
        padding: 10px;
      }
    }

    @include media_interval(0, $mobile_footer) {
      flex-direction: column;
      margin: -7px;
    }
  }

  .contacts {
    &__email {
      margin-top: 10px;
      text-decoration: underline;

      @include media_interval(0, $mobile_footer) {
        margin-top: 11px;
      }
    }
  }

  //.areas {
  //  .area {
  //    @include media_interval(0, $media768) {
  //      margin-bottom: -3px;
  //    }
  //  }
  //}

  .activity-description {
    color: #1f1f1f;
    width: 780px;
    max-width: 100%;
    font-size: 12px;
    line-height: 19px;
    @include font_open_sans;

    @include media_interval(0, $media768) {
      line-height: 16px;
      margin-top: -2px;
    }
  }

  .accredited {
    width: 293px;
    height: 61px;
    position: relative;
    margin-top: 7px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include media_interval(0, $media768) {
      margin-top: 10px;
    }
  }

  .copyright, .dl-box {
    color: #1f1f1f;
    opacity: .5;

    @include font-open_sans;
    @include font-size(12px, 19px);
  }

  .socials-box {
    //margin-top: 12px;

    .social-links {
      flex-wrap: nowrap;
    }
    @include media_interval($media768, 0) {
      margin-left: 115px;
    }
    //@include media_interval(0, $media768) {
    //  margin-top: -3px;
    //}
  }

  .dl-box {
    a {
      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity .15s ease;
      }
    }
  }

  .skiptranslate {
    display: inline;
  }

  @include media_interval(0, $mobile_footer) {
    @include vpad(40px);
  }
}
