@import "mixins";

$icons_y: 324;

.property-features {
  h2.title {
    text-align: center;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px -25px;
    padding-top: 10px;
  }

  .feature {
    margin-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 180px;
    padding: 20px 8px;

    &:before {
      content: '';
      position: relative;
      display: inline-block;
      background: $sprite_url no-repeat;
      background-position: rel-background-position(38px, 35px, -#{70 + $sprite_moving_x}px, -220px);
      width: 38px;
      height: 35px;
      margin-right: 10px;
      box-sizing: border-box;

      @include media_interval(0, $media768) {
        margin-bottom: 4px;
      }
    }

    //&__value {
    //  width: min-content;
    //}

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
    }



    @include media_interval(0, $media768) {
      //flex-direction: column;
      align-items: center;
    }

    //@include media_interval($media768, $media1280) {
    //  width: 33.33%;
    //}

    //@include media_interval(0, $media768) {
    //  width: 50%;
    //}
    @include media_interval(0, $media560) {
      width: 100%;
      @include vpad(5px);
    }
  }
}