@import "mixins";


.property-description {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    background: $sprite_url no-repeat;
    background-position: rel-background-position(60px, 58px, -#{215 + $sprite_moving_x}px, -69px);
    background-size: rel-background-size(60px, 58px);
    z-index: -1;
    opacity: .5;

    @include media_interval(0, $media_mobile) {
      display: none;
    }
  }

  &:before {
    left: 0;
    padding-right: 214px;
    padding-bottom: 202px;
    transform: translateX(-50%);
  }

  &:after {
    right: 0;
    padding-right: 586px;
    padding-bottom: 552px;
    transform: translateX(60%);
  }

  h2.title {
    text-align: center;
  }

  .description {
    margin-top: 35px;
    @include fontsize_default;
    @include font_default;

    @include media_interval(0, $media_mobile) {
      margin-top: 20px;
    }
  }
}