@import "mixins";

//$icons_y: 324;
$icons_y_line1: 324;
$icons_y_line2: 358;

$icons_size: 34;

$icons:
                (listing, 0, $icons_y_line1),
                (property, 34, $icons_y_line1),
                (square, 68, $icons_y_line1),
                (lot, 102, $icons_y_line1),
                (beds, 136, $icons_y_line1),
                (baths, 170, $icons_y_line1),
                (status, 204, $icons_y_line1),
                (price, 238, $icons_y_line1),
                (property_id, 0, $icons_y_line2),
                (rooms, 34, $icons_y_line2),
                (garages, 68, $icons_y_line2),
                (garage_size, 102, $icons_y_line2),
                (land_area, 136, $icons_y_line2);

.property-overview {
  h2.title {
    text-align: center;
  }
  .characteristics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px -25px;
    padding-top: 30px;
  }

  .characteristic {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      padding-left: 10px;
      box-sizing: border-box;
      width: calc(100% - 45px);

      @include media_interval(0, $media768) {
        margin-left: 0;
        padding-left: 0;
      }
    }

    &__icon {
      position: relative;

      &:before {
        content: '';
        position: relative;
        display: inline-block;
        background: $sprite_url no-repeat;
        background-position: rel-background-position(60px, 58px, -#{215 + $sprite_moving_x}px, -69px);
        background-size: rel-background-size(60px, 58px);
        width: 60px;
        height: 58px;
        //margin-right: 10px;
        box-sizing: border-box;

        @include media_interval(0, $media1024) {
          width: 46px;
          height: 43px;
        }

        @include media_interval(0, $media768) {
          margin-bottom: 4px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        background: $sprite_url no-repeat;
        padding-right: #{$icons_size}px;
        height: #{$icons_size}px;
        margin-right: 10px;
        box-sizing: border-box;
        left: 14px;
        top: 12px;

        //@include media_interval(0, $media768) {
        //  left: calc(50% - 17px);
        //  //top: -50px;
        //}

        @include media_interval(0, $media1024) {
          left: 6px;
          top: 5px;
        }
      }

    }



    @include media_interval(0, $media768) {
      flex-direction: column;
      align-items: center;
    }

    &__description {
      margin-top: 5px;
      color: #696969;
      @include font_open_sans;
      @include font-size(18px, 29px);
    }

    @each $icon, $pos_x, $pos_y in $icons {
      &.characteristic--#{$icon} {
        .characteristic__icon {
          &:after {
            background-position: rel-background-position($icons_size, $icons_size, -#{$pos_x + $sprite_moving_x}px, -#{$pos_y}px);
          }
        }
      }
    }

    @include media_interval($media768, $media1280) {
      width: 30%;
    }

    @include media_interval(0, $media768) {
      width: 50%;
    }
  }
}