@import "mixins";


.property-info {
  padding-top: 30px !important;

  .google-link {
    margin-top: 20px;
    color: $gold;

    &:before {
      content: '';
      position: relative;
      background: $sprite_url no-repeat;
      background-position: rel-background-position(19px, 24px, -#{136 + $sprite_moving_x}px, -220px);
      padding-right: 19px;
      margin-right: 10px;
      box-sizing: border-box;
    }

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity .15s ease;
    }
  }

  .btn {
    width: 100%;
    max-width: 335px;

    @include media_interval(0, $media768) {
      margin-top: 30px;
    }
  }

  .price {
    &__count {

    }

    &__description {
      margin-top: 10px;

      @include media_interval(0, $media768) {
        margin-left: 20px;
      }
    }

    &__count, &__description {
      display: block;

      @include media_interval(0, $media768) {
        display: inline;
      }
    }

    @include media_interval(0, $media768) {
      margin-top: 30px;
    }
  }
}