<div class="jelly jelly--{{ prefix }} {% if lazy %}jelly--lazy{% endif %}" data-image="{{ image.url }}" data-image-webp="{{ image_url_webp }}">
    <div class="loading_cont">
        <svg xmlns="http://www.w3.org/2000/svg" id="loader_{{ prefix }}">
            <defs>
                <filter id="goo_{{ prefix }}">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                    <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo_{{ prefix }}" />
                    <feBlend in2="goo" in="SourceGraphic" result="mix" />
                </filter>
                {% if image %}
                    <pattern id="img_{{ prefix }}" patternUnits="userSpaceOnUse" width="{{ image.target_width }}" height="{{ image.target_height }}">

                        <image href="{{ static('img/blank.gif') }}" width="{{ image.target_width }}" height="{{ image.target_height }}"/>
                    </pattern>
                    <script>
                        if ("{{ lazy }}" !== 'lazy') setImg();

                        function setImg() {
                            var url_img = (window.use_webp && "{{ image.url_webp }}" !== '') ? "{{ image.url_webp }}" : "{{ image.url }}";
                            document.getElementById('img_{{ prefix }}').getElementsByTagName('image')[0].setAttribute('href', url_img);
                        }
                    </script>
                {% endif %}
            </defs>
            <mask id="mask_{{ prefix }}">
                <g class="blobs">
                    {% if circles %}{{ circles }}{% else %}
                        <!-- 				<circle class="blob" cx="440" cy="290" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/> -->
                        <circle class="blob" cx="330" cy="270" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <circle class="blob" cx="280" cy="350" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <circle class="blob" cx="440" cy="350" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <circle class="blob" cx="360" cy="400" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <!-- 				<circle class="blob" cx="470" cy="450" r="20"  transform="rotate(0) translate(0, 0) rotate(0)"/> -->
                    {% endif %}
                </g>
            </mask>
            <mask id="mask2_{{ prefix }}">
                <g class="blobs">
                    {% if circles2 %}{{ circles2 }}{% else %}
                        <!-- 				<circle class="blob" cx="440" cy="290" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/> -->
                        <circle class="blob" cx="330" cy="270" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <circle class="blob" cx="280" cy="350" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <circle class="blob" cx="440" cy="350" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <circle class="blob" cx="360" cy="400" r="200" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                        <!-- 				<circle class="blob" cx="470" cy="450" r="20"  transform="rotate(0) translate(0, 0) rotate(0)"/> -->
                    {% endif %}
                </g>
            </mask>
            <rect x="{% if x1 %}{{ x1 }}{% else %}0{% endif %}" y="{% if y1 %}{{ y1 }}{% else %}0{% endif %}" mask="url(#mask2_{{ prefix }})" fill="#FFECBC" width="{% if width %}{{ width }}{% else %}600{% endif %}" height="{% if height %}{{ height }}{% else %}600{% endif %}" style="transform: rotate(60deg)"></rect>

            {% if image %}
                <rect x="{% if x2 %}{{ x2 }}{% else %}0{% endif %}" y="{% if y2 %}{{ y2 }}{% else %}0{% endif %}"  mask="url(#mask_{{ prefix }})" fill="url(#img_{{ prefix }})" width="{% if width %}{{ width }}{% else %}600{% endif %}" height="{% if height %}{{ height }}{% else %}600{% endif %}" ></rect>
            {% endif %}
        </svg>
    </div>
</div>