<header itemscope itemtype="https://schema.org/WPHeader" class="{% if classes %}{{ classes }}{% endif %}">
    <div class="menu mobile-menu">
        <div class="menu__top">
            <div class="logo-box">
                {% include 'components/logo/logo.html' %}
            </div>
            <div class="scrollable">
                <div class="scrollable-content">
                    {% menu 'menu_mobile' item_id_mod=item_id_mod %}
                </div>
            </div>
        </div>
        <div class="menu__bottom">
            <div class="contacts">
                <div class="phone-box">
                    <a href="tel:{{ contacts.phone|phone }}">{{ contacts.phone }}</a>
                </div>
                <div class="socials-box">
                    {% social_links %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-block">

        <div class="flex">
            <div class="logo-box">
                {% include 'components/logo/logo.html' %}
            </div>

            <div class="menu-box">
                {% menu 'menu_header' item_id_mod=item_id_mod %}
            </div>

            <div class="phone-box">
                <a href="tel:{{ contacts.phone|phone }}" class="phone">
                    <span class="number">{{ contacts.phone }}</span>
                    <span class="icon"></span>
                </a>
                <a href="#" class="language language--es skiptranslate" data-lang="es">ES</a>
                <a href="#" class="language language--en skiptranslate" data-lang="en">EN</a>
            </div>

            <div class="burger-box">
                <div class="mobile-menu-button">
                    <div class="burger"></div>
                </div>
            </div>
        </div>

    </div>
</header>