@import 'mixins';


#header-cell > header {
  //transition: background-color .15s ease, box-shadow .15s ease;

  .flex {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0 0 5px 5px;
    background-color: $white;
    @include vpad(20px);

    @include media_interval(0, $media_mobile) {
      @include vpad(15px)
    }

    @include media_interval(0, $media768) {
      justify-content: space-between;
      box-shadow: none;
    }

    @include media_interval($media768, $media_mobile) {
      @include hpad(10px, 25px);
    }

    @include media_interval($media_mobile, 0) {
      min-height: 78px;
    }
  }

  .logo-box {
    //flex: 0 0 auto;

    @include media_interval($media_mobile, 0) {
      margin-left: 30px;
    }
  }
  .menu-box {
    padding: 0 20px;

    @include media_interval(0, $media_mobile) {
      padding-right: 0;
    }

    .menu {
      margin: 0;
    }
  }
  .phone-box {
    flex: 1 0 auto;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
  }

  .language, .phone {
    color: #1f1f1f;
    font-weight: 600;
    @include font_poppins;
    @include font-size(16px, 19px);
  }
  .phone {
    .number {
      display: block;

      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity .15s ease;
      }

      @include media_interval(0, $media_mobile) {
        display: none;
      }
    }

    .icon {
      display: none;
      width: 28px;
      height: 28px;
      position: relative;

      &:after {
        content: '';
        background: $sprite_url no-repeat;
        background-position: rel-background-position(28px, 28px, -#{108 + $sprite_moving_x}px, -220px);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
      }

      @include media_interval(0, $media_mobile) {
        display: inline-block;
      }
    }
  }
  .language {
    margin-left: 20px;
    cursor: pointer;
    width: 21px;

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity .15s ease;
    }

    &.skiptranslate {
      display: block;
    }
    //display: none;

    &:not(.language--visible) {
      display: none;
    }
  }

  .mobile-menu {
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    left: -100%;
    top: 0;
    width: 295px;
    max-width: 80%;
    height: 768px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 100%;
    text-align: left;
    background: $white;
    box-sizing: border-box;
    transition: left 0.4s;
    padding: 20px;
    z-index: 1;

    .phone-box {

      margin-left: 0;
      margin-right: 0;
    }

    @include media_interval($media_mobile, 0) {
      display: none;
    }

    .mobile-menu-container {
      height: 100%;
    }

    .scrollable {
      margin-top: 50px;
      overflow: auto;
      box-sizing: border-box;
      max-height: calc(100vh - 300px);
      width: 100%;
    }

    .scrollable-content {
      display: block;
      overflow: hidden;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    //.phone-box, .email-box {
    //  color: $blue;
    //}

    //.email-box {
    //  margin-top: 20px;
    //  text-decoration: underline;
    //  @include font-size(15px, 21px);
    //}

    @at-root .main-menu-opened & {
      left: 0;
    }
  }

  &.header--fixed {
    //top: -200%;
    top: 0;
    //transition: top 1s ease;
    position: fixed;
    z-index: 9999;
    width: 100%;

    &.visible {
      top: 0;
    }
  }

  @include media_interval($media768, $media_mobile) {
    & > .grid-block > .flex:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(31, 31, 31, 0.7);
      opacity: 0;
      z-index: 0;
      transition: opacity .15s ease;
      //transition-delay: .45s;
      pointer-events: none;

      @at-root .main-menu-opened & {
        opacity: .8;
        pointer-events: all;
      }
    }
  }

  @include media_interval(0, $media768) {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0 0 5px 5px;
    background-color: $white;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(31, 31, 31, 0.7);
      opacity: 0;
      z-index: 0;
      transition: opacity .15s ease;
      //transition-delay: .45s;
      pointer-events: none;

      @at-root .main-menu-opened & {
        opacity: .8;
        pointer-events: all;
      }
    }
  }
}
