//=======================
// Точки для media-queries
//=======================
$media1400: 1400px;
$media1280: 1280px;
$media1200: 1200px;
$media1024: 1024px;
$media900: 900px;
$media768: 768px;
$media640: 640px;
$media600: 600px;
$media560: 560px;
$media480: 480px;
$media400: 400px;


//=======================
// Сетка
//=======================
$cols_wide: 12;
$cols_desktop: 12;
$cols_tablet: 8;
$cols_mobile: 4;

// Максимальная ширина сетки
$grid_max_width: 1400px;

// Боковые границы каждого столбца
$grid_column_gap: 10px;

// Боковые границы сетки
$grid_paddings: (
    ($media1200, 0): 100px,
    ($media1024, $media1200): 70px,
    ($media768, $media1024): 14px,
    (0, $media768): 10px,
);

// Боковые границы сетки с прибавлением границы столбца
$grid_full_paddings: ();
@each $key, $value in $grid_paddings {
  $grid_full_paddings: map-merge($grid_full_paddings, (
    $key: $value + $grid_column_gap
  ))
}


//=======================
// Sprite
//=======================
$sprite_url: url(/static/img/sprite.svg);
$sprite_width: 369px;
$sprite_height: 412px;

 //Спрайт имеет отступы, в фигме этого нет.
// Сдвиг нужен чтобы использовать значения из фигмы,
// и затем корректировать положение X.
// upd. спрайт пофикшен
$sprite_moving_x: 0;


//=======================
// Цвета
//=======================
$white: #FFFFFF;
$black: #000000;

$gold: #D9B351;
$yellow_light: #FFECBC;

$text-color: #3d3d3d;

//=======================
// Меню
//=======================
$menu_burger_color: #1f1f1f;
$menu_burger_width: 20px;
$menu_burger_line_height: 2px;
$menu_burger_line_space: 4px;

// интервал показа мобильного меню
$media_mobile: $media1280;


//=======================
// Формы
//=======================

// вертикальное расстояние между полями
$field_space: 20px;
