@import 'mixins/all';
@import 'conf';

//=========================================
//  Размеры шрифта
//=========================================
@mixin fontsize_default() {
  @include font-size(18px, 29px);
  @include media_interval($media768, $media1280) {
    @include font-size(18px, 25px);
  }
  @include media_interval(0, $media768) {
    @include font-size(16px, 22px);
  }
}


@mixin fontsize_h1() {
  @include font-size(45px, 50px);
  @include media_interval($media768, $media1280) {
    @include font-size(35px, 39px);
  }
  @include media_interval(0, $media768) {
    @include font-size(25px, 31px);
  }
}

@mixin fontsize_h2() {
  @include font-size(40px, 52px);
  @include media_interval($media768, $media1280) {
    @include font-size(30px, 36px);
  }
  @include media_interval(0, $media768) {
    @include font-size(24px, 29px);
  }
}

@mixin fontsize_h3() {
  @include font-size(35px, 52px);
  @include media_interval($media768, $media1280) {
    @include font-size(25px, 29px);
  }
  @include media_interval(0, $media768) {
    @include font-size(22px, 25px);
  }
}

@mixin fontsize_h4() {
  @include font-size(30px, 45px);
  @include media_interval(0, $media1280) {
    @include font-size(20px, 25px);
  }
}

@mixin fontsize_h5() {
  @include font-size(22px, 33px);
  @include media_interval($media768, $media1280) {
    @include font-size(20px, 24px);
  }
  @include media_interval(0, $media768) {
    @include font-size(18px, 22px);
  }
}

@mixin fontsize_h6() {
  @include font-size(20px, 24px);
  @include media_interval($media768, $media1280) {
    @include font-size(18px, 22px);
  }
  @include media_interval(0, $media768) {
    @include font-size(16px, 20px);
  }
}

//=========================================
//  Шрифты
//=========================================
@mixin font_open_sans() {
  font-family: "Open Sans", sans-serif;
}
@mixin font_poppins() {
  font-family: Poppins, sans-serif;
}
@mixin font_roboto() {
  font-family: Roboto, sans-serif;
}

@mixin font_default() {
  @include font_open_sans;
}
