@import "mixins";

.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  user-select: none;

  &--default {
    font-weight: bold;
    padding: 16px 32px;

    @include font-size(16px, 18px);
    @include font_poppins;

    @include media_interval(0, $media1280) {
      @include hpad(25px);
    }
  }

  &--border {
    border-radius: 74px;
  }

  &--gold {
    color: $white;
    background-color: $gold;
    box-shadow: 0 10px 20px rgba(217, 179, 81, 0.18), 0 2px 6px rgba(217, 179, 81, 0.12), 0 0 1px rgba(0, 0, 0, 0.04);

    &:hover {
      background-color: #F2D78F;
    }
  }

  &, &:hover {
    transition: background-color .15s ease;
  }
}