@import 'mixins';

form {
  max-width: 100%;
  box-sizing: border-box;
}

// стандартные стили полей в форме
.field {
  margin-bottom: $field_space;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;

  .label-holder {
    margin-bottom: 2px;
    text-align: left;
    color: #1f1f1f;
    @include font_poppins;
    @include font-size(18px, 22px);
  }

  .control {
    max-width: 100%;
    box-sizing: border-box;
    @include font_roboto;
    @include font-size(16px, 16px);

    input, select, textarea, .input {
      width: 100%;
      border-bottom: 1px solid $gold;
      background-color: transparent;
      color: $text-color;
      box-sizing: border-box;
      @include vpad(13px);

      &::placeholder {
        color: rgba(#1f1f1f, .5);
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active
      {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }

      &:focus, &:active {
        border-color: #1f1f1f;
      }

      &, &:focus, &:active {
        transition: border-color .15s ease;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  // класс на поле с ошибкой
  &.invalid {
    input, select, textarea, .input {
      border-color: #D32200;
    }
  }

  .error-message {
    margin-top: 5px;
    color: #D32200;

    @include font-size(12px, 14px);
  }
}



/*
    Кастомизация чекбоксов.
    ОБЯЗАТЕЛЬНО наличие label после input.
*/
$checkbox_size: 16px;
$checkbox_background: $white;
$checkbox_border_width: 1px;
$checkbox_border_color: #AAAAAA;
$checkbox_icon_size: (14px, 13px);
$checkbox_icon_offset: (2px, 3px);      // left, top

input[type=checkbox] {
  // прячем оригинал
  position: absolute;
  width: auto;
  left: -9999px;
  opacity: 0;

  & + label {
    position: relative;
    display: inline-block;
    padding-left: $checkbox_size + 10px;
    margin: 0;
    box-sizing: border-box;
    @include fontsize_default;
    line-height: $checkbox_size + 2 * $checkbox_border_width;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $checkbox_size;
      height: $checkbox_size;
      z-index: 1;
      background: $checkbox_background;
      border: $checkbox_border_width solid $checkbox_border_color;
      border-radius: 4px;
    }

    span {
      user-select: none;
    }

    // переключатель
    &:after {
      content: '';
      position: absolute;
      left: nth($checkbox_icon_offset, 1);
      top: nth($checkbox_icon_offset, 2);
      width: nth($checkbox_icon_size, 1);
      height: nth($checkbox_icon_size, 2);
      z-index: 1;
      opacity: 0;
      background: $sprite_url no-repeat -268px 0;
      transition: opacity 0.1s;
    }
  }

  &:checked {
    & + label {
      &:after {
        opacity: 1;
      }
    }
  }

  &:disabled {
    & + label {
      &:before {
        background: darken($checkbox_background, 10%);
      }
    }

    &:checked {
      & + label {
        &:after {
          opacity: 0.5;
        }
      }
    }
  }
}

/*
    Кастомизация радиоксов.
    ОБЯЗАТЕЛЬНО наличие label после input.
*/
$radiobox_size: 16px;
$radiobox_background: $white;
$radiobox_border_width: 1px;
$radiobox_border_color: #AAAAAA;
$radiobox_dot_gap: 3px;
$radiobox_dot_color: #000000;
$radiobox_dot_size: $radiobox_size - 2 * $radiobox_dot_gap;

input[type=radio] {
  // прячем оригинал
  position: absolute;
  width: auto;
  left: -9999px;
  opacity: 0;

  & + label {
    position: relative;
    display: inline-block;
    padding-left: $radiobox_size + 10px;
    margin: 0;
    box-sizing: border-box;
    @include fontsize_default;
    line-height: $radiobox_size + 2 * $radiobox_border_width;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $radiobox_size;
      height: $radiobox_size;
      z-index: 1;
      background: $radiobox_background;
      border: $radiobox_border_width solid $radiobox_border_color;
      border-radius: 50%;
    }

    span {
      user-select: none;
    }

    // переключатель
    &:after {
      content: '';
      position: absolute;
      top: $radiobox_border_width + $radiobox_dot_gap;
      left: $radiobox_border_width + $radiobox_dot_gap;
      width: $radiobox_dot_size;
      height: $radiobox_dot_size;
      z-index: 1;
      opacity: 0;
      background: $radiobox_dot_color;
      border-radius: 50%;
      transition: opacity 0.2s;
    }
  }

  &:checked {
    & + label {
      &:after {
        opacity: 1;
      }
    }
  }

  &:disabled {
    & + label {
      &:before {
        background: darken($radiobox_background, 10%);
      }
    }

    &:checked {
      & + label {
        &:after {
          opacity: 0.5;
        }
      }
    }
  }
}
