@import 'mixins';

@include global-reset;

html, body {
  height: 100%;
}

.skiptranslate, .google_translate_element2 {
  display: none;
}

body {
  overflow-x: hidden;
  color: $text_color;
  line-height: 1;
  top: 0 !important;
  @include zero_fontsize;
  @include font_default;

  &:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.7);
    opacity: 0;
    z-index: 2;
    transition: opacity .15s ease;
    //transition-delay: .45s;
    pointer-events: none;

    @at-root .main-menu-opened & {
      opacity: .8;
      pointer-events: all;
    }
  }

  @at-root .main-menu-opened & {
    overflow: hidden;
  }
}

.grecaptcha-badge {
  display: none;
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

#header-wrapper {
  display: table-row;
  height: 0;
}

#header-cell {
  display: table-cell;
  position: relative;
  height: 0;
  z-index: 3;
  vertical-align: top;
}

.title {
  font-weight: 700;
  text-transform: capitalize;

  @include font_poppins;

  &--h1 {
    @include fontsize_h1;
  }
  &--h2 {
    @include fontsize_h2;
  }
  &--h3 {
    @include fontsize_h3;
  }
  &--h4 {
    @include fontsize_h4;
  }
  &--h5 {
    @include fontsize_h5;
  }
  &--h6 {
    @include fontsize_h6;
  }
}

#content-wrapper {
  display: table-row;
}

#content {
  display: table-cell;
  position: relative;
  height: 100%;
  z-index: 2;
  vertical-align: top;
  padding-top: 120px;

  @include media_interval(0, $media_mobile) {
    padding-top: 50px;
  }
}

#footer-wrapper {
  display: table-row;
  height: 0;
}

#footer-cell {
  display: table-cell;
  position: relative;
  height: 0;
  z-index: 1;
  vertical-align: top;
}

// Полноэкранный блок
.section {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  box-sizing: border-box;
  @include valign_after;

  &.section-full-height {
    min-height: 768px; // for old
    min-height: 100vh;
  }

  img.section-image {
    @include centrizeImage($zIndex: 2, $minSize:100.5%);
  }

  picture.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    img {
      @include centrizeImage($zIndex: 2, $minSize: 100.5%);
    }
  }

  .section-video {
    visibility: hidden;
    @include centrizeImage($zIndex: 20);

    &.loaded {
      visibility: visible;
    }
  }

  @at-root .no-js & .section-video {
    visibility: visible;
  }

  .section-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 50;
    vertical-align: middle;
    box-sizing: border-box;
  }
}

// Контентный блок
.block {
  @include vpad(50px);
  @include media_interval(0, $media768) {
    @include vpad(40px);
  }
}