@import 'mixins';

$quote_width: 68px;
$quote_height: 54px;

$check_size: 24px;


.text-styles {
  color: $text_color;
  font-weight: 400;

  @include fontsize_default;
  @include font_default;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  p {
    @include fontsize_default;
    margin-bottom: 9px;
  }

  a[href] {
    color: $gold;

    &:not([class]):hover {
      color: rgba($gold, .75);
    }
  }

  iframe {
    margin-bottom: 30px;
  }

  h2, h3, h4, h5, h6  {
    color: $text_color;
    font-weight: 700;
    text-transform: capitalize;
    margin: 50px 0 25px;
    @include font_poppins;

    @include media_interval(0, $media768) {
      margin: 40px 0 30px;
    }
  }

  h2 {
    @include fontsize_h2;
  }

  h3 {
    @include fontsize_h3;
  }

  h4 {
    @include fontsize_h4;
  }

  h5 {
    @include fontsize_h5;
  }

  h6 {
    @include fontsize_h6;
  }

  ul, ol {
    margin: 30px 0;

    li {
      position: relative;
      margin-bottom: 5px;
      z-index: 1;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    @include media_interval(0, $media768) {
      margin: 25px 0;
    }
  }

  ul > li {
    padding-left: 1.6em;

    &:before {
      content: '●';
      position: absolute;
      left: 0.6em;
      top: 0;
      transform-origin: 50% 55%;
      //transform: scale(0.6) translateZ(0);
    }
  }

  ul:not(.checklist) > li {
    &:before {
      //content: '●';
      //position: absolute;
      //left: 0.6em;
      //top: 0;
      //transform-origin: 50% 55%;
      transform: scale(1) translateZ(0);
    }
  }

  ul ul > li:before {
    content: '—';
    top: 0;
    transform: none;
  }

  ol {
    padding-left: 1.6em;
    list-style: decimal;
  }
  th {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 10px 10px 20px;
  }

  td {
    border-bottom: 1px solid #000;

    padding: 20px 10px 55px;
    box-sizing: border-box;

    p {
      margin-bottom: 0.8em;
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  th, td {
    min-width: 245px;

    @include font-size(18px, 25px);

    @include media_interval(0, $media768) {
      @include font-size(16px, 25px);
    }
  }

  .page-images, .page-video, .page-files {
    margin: 20px 0;
  }

  .page-images {
    height: 100%;
    position: relative;
    display: block;

    &.single-image img {
      width: 100%;
    }

    @at-root .js & > img:nth-of-type(n+2) {
      display: none;
    }
  }

  .toc {
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFFBEF;
    font-weight: 700;

    @include font_poppins;
    @include font-size(20px, 24px);

    @include media_interval(0, $media768) {
      margin-bottom: 40px;
      @include font-size(16px, 20px);
    }

    .name {
      color: $text-color;
      text-transform: capitalize;
      margin: 0 0 10px;

      @include font-size(22px, 26px);

      @include media_interval(0, $media768) {
        @include font-size(18px, 22px);
      }
    }

    ol {
      margin: 0;
    }

    li, ol {
      padding-left: 4px;
      margin-left: 10px;
    }

    @include media_interval(0, $media768) {
      margin-bottom: 20px;
    }
  }

  .object-description, .item-description {
    display: block;
    margin-top: 5px;
    color: $text-color;
    position: relative;
    height: 100%;

    @include font-size(16px, 22px);

    @include media_interval(0, $media768) {
      @include font-size(14px, 22px);
    }
  }

  .object-description {
    &:empty {
      display: none;
    }
  }

  // Видео
  .page-video {
    position: relative;
    text-align: left;

    .fluid-width-video-wrapper {
      display: inline-block;
      vertical-align: top;
      @include backface-visibility(hidden);
    }

    &.instagram {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;

      iframe {
        width: 100%;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
      }
    }

    iframe {
      margin: 0;
    }

    .wrapper {
      position: relative;
      z-index: 1;

      & > img {
        width: 100%;
      }

      .play {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;
        z-index: 3;
        cursor: pointer;
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: transform 0.5s, opacity 0.6s;
        @include media_interval(0, $media600) {
          width: 50px;
          height: 50px;
        }

        &:hover {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }

      .player {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &.visible {
          z-index: 5;
        }
      }

      &.loading {
        .play {
          opacity: 0;
        }
      }
    }

    &.youtube {
      cursor: pointer;

      .play {
        width: 52px;
        height: 41px;
        background: no-repeat url(/static/img/yt.png) 0 0;
        background-size: cover;
      }

      &:hover {
        .play {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }
  }


  // Файлы
  .page-file {
    margin-bottom: 0.5em;
    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      position: relative;
      display: inline-block;
      font-weight: 700;
      max-width: 100%;
      z-index: 1;

      &:before {
        content: '●';
        position: absolute;
        left: 0.8em;
        transform-origin: 50% 55%;
        transform: scale(1);

        @include media_interval(0, $media768) {
          left: 1.2em;
        }
      }

      @include media_interval(0, $media768) {
        text-decoration: underline;
      }
    }

    span {
      display: inline-block;
      padding-left: 36px;
      word-break: break-word;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

  // Таблицы
  .page-table {
    margin-bottom: 30px;
    overflow-x: auto;

    & > table {
      margin: 0;
      width: 100%;

      th {
        font-weight: 700;
        color: $text-color;
        @include font_poppins;
      }

      @include media_interval(0, $media1024) {
        display: table;
        overflow-x: visible;
      }
    }
  }

  // две колонки
  .columns {
    @include media_interval($media900, 0) {
      display: flex;
      margin: -20px 0 50px;
      margin-top: 50px;
    }

    .column {
      box-sizing: border-box;

      @include media_interval($media900, 0) {
        min-height: 1em;

        & > *:first-child {
          margin-top: 0;
        }

        > *:last-child {
          margin-bottom: 0;
        }
      }

      @include media_interval(0, $media768) {
        &.column-left > ul {
          margin-bottom: 0;
        }

        &.column-right > ul {
          margin-top: 0;
        }
      }

      @include media_interval($media900, 0) {
        @include flex-columns(2, 120px);
      }
    }

  }

  // Две колонки через класс
  .two-columns {
    @include media_interval($media1200, 0) {
      @include column-count(2);
      @include column-gap(50px);
    }
    @include media_interval($media768, $media1200) {
      @include column-count(2);
      @include column-gap(40px);
    }

    > p {
      margin-bottom: 0;
      padding-bottom: 1em;
    }

    > h2, > h3, > h4 {
      margin-bottom: 0;
      padding-bottom: .5em;
    }

    > ul, > ol {
      margin-bottom: 0;
      padding-bottom: 1.1em;
    }

    > li {
      @include media_interval($media768, 0) {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    > * {
      @include column-break-inside(avoid);

      &:last-child {
        @include media_interval($media768, 0) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &:last-child > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .no-margin {
    margin-bottom: 0;

    & + * {
      margin-top: 0;
    }
  }

  .checklist {
    li {
      margin-top: 20px;
      padding-left: 36px;

      &:before {
        content: '';
        position: absolute;
        background: $sprite_url no-repeat;
        background-size: rel-background-size($check_size, $check_size);
        width: $check_size;
        height: $check_size;
        background-position: rel-background-position($check_size, $check_size, #{-344px - $sprite_moving_x}, -69px);
        top: 0;
        left: 0;
      }

      @include media_interval(0, $media768) {
        padding-left: 33px;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 36px 180px 55px 60px;
    margin: 20px 0;
    background-color: #1f1f1f;
    color: $gold;
    box-sizing: border-box;

    p {
      strong {
        margin-bottom: 72px;

        @include media_interval(0, $media768) {
          margin-bottom: 20px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;

        strong {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    strong {

      display: block;
      font-weight: 300;
      @include font_poppins;
      @include font-size(30px, 36px);

      @include media_interval(0, $media768) {
        @include font-size(26px, 31px);
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: $quote_width;
      top: $quote_height;
      width: $quote_width;
      height: $quote_height;
      background: $sprite_url no-repeat;
      background-size: rel-background-size($quote_width, $quote_height);
      background-position: rel-background-position($quote_width, $quote_height, #{-276px - $sprite_moving_x}, -69px);

      @include media_interval(0, $media768) {
        display: none;
      }
    }

    @include media_interval(0, $media768) {
      padding: 20px;

      strong {
        padding-bottom: 20px;

        @include font-size(25px, 31px);
      }
    }

    @include media_interval(0, $media768) {
      padding: 20px;

      strong {
        @include font-size(18px, 22px);
      }
    }
    //}

    //&.blockquote--blue {
    //  background-color: $blue;
    //  padding: 36px 180px 55px 60px;
    //  color: $white;
    //
    //  &:after {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    right: $quote_width;
    //    top: $quote_height;
    //    width: $quote_width;
    //    height: $quote_height;
    //    background: $sprite_url no-repeat;
    //    background-size: rel-background-size($quote_width, $quote_height);
    //    background-position: rel-background-position($quote_width, $quote_height, 0px, -439px);
    //
    //    @include media_interval(0, $media768) {
    //      display: none;
    //    }
    //  }
    //  @include media_interval(0, $media768) {
    //    padding: 30px 25px;
    //  }
    //}
  }

  .slider-controls {
    position: relative;
    margin-top: 20px;
    order: 1;
    display: flex;
    justify-content: space-between;
  }

  .swiper-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media_interval(0, $media768) {
      overflow: visible;
      margin-left: 0;
    }
  }

  .swiper-slide {
    margin: auto;
    user-select: none;

    img {
      min-width: 100%;
    }
  }

  .image-controls {

  }

  .image-wrapper {
    @include media_interval(0, $media1024) {
      overflow: hidden;
    }
  }

  .controls-container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;

    .swiper-navigation {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }

  table {
    width: 100%;
    display: block;
    overflow: scroll;
  }
}
