@import "mixins";


.gallery__current-slide {
  width: 960px;
  max-width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  flex: 1 1 0;

  .swiper-slide {
    img {
      min-width: 100%;
    }
  }
}