@import "mixins";
@import "slide";


.gallery__list-gallery {
  position: relative;
  width: 200px;
  margin-left: 20px;

  .swiper-wrapper {
    position: absolute;
    flex-direction: column;
  }

  .swiper-scrollbar {
    margin: 0 0 0 auto;
  }
  //overflow-x: hidden;
}