@import "mixins";


.list-gallery__slide {
  border: 2px solid #fff;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;
  width: 180px;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
  }

  &.swiper-slide-thumb-active {
    border-color: $gold;
  }
}