@import "mixins";

@import "current";
@import "list";

.gallery {
  position: relative;
  display: block;

  .gallery-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .gallery__current-slide, .gallery__list-gallery {
    //margin: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
  }

  .gallery__list-gallery {
    @include media_interval(0, $media_mobile) {
      display: none;
    }
  }

  .swiper-pagination-progressbar {
    @include media_interval($media_mobile, 0) {
      display: none;
    }
  }

}