<div class="gallery__current-slide">
    <div class="swiper-wrapper">
        {% for image in images %}
            <div class="swiper-slide">
                <img src="{{ image.image.normal.url }}" alt="{{ image.image_alt }}">
            </div>
        {% endfor %}
    </div>
    {% if images|length > 1 %}
        <div class="swiper-navigation">
            <div class="swiper-button swiper-button-prev"></div>
            <div class="swiper-button swiper-button-next"></div>
        </div>
    {% endif %}
</div>