{% if images|length > 1 %}
    <div class="gallery__list-gallery list-gallery">
        <div class="swiper-wrapper">
            {% for image in images %}
                {% with image=image.image, alt=image.image_alt %}
                    {% include 'components/gallery/_slide.html' %}
                {% endwith %}
            {% endfor %}
        </div>

        <div class="swiper-scrollbar"></div>
    </div>
{% endif %}