{% if page.gallery.image_items %}
    <div class="gallery">
        <div class="grid-block grid-block-mobile-nogrid">
            <div class="gallery-wrapper">
                {% with images=page.gallery.image_items %}
                    {% include 'components/gallery/_current.html' %}
                    {% include 'components/gallery/_list.html' %}
                {% endwith %}
            </div>
        </div>
        {% if page.gallery.image_items|length > 1 %}
            <div class="grid-block">
                <div class="swiper-pagination"></div>
            </div>
        {% endif %}
    </div>
{% endif %}