<div class="navigation" typeof="SiteNavigationElement">
  {% if paginator.previous_page_number %}
    <a href="{{ paginator.link_to(paginator.previous_page_number) }}"
       class="nav-item prev-page"
       data-page="{{ paginator.previous_page_number }}">{{ _('Previous') }}</a>
  {% else %}
    <span class="nav-item prev-page disabled">{{ _('Previous') }}</span>
  {% endif %}

  <div class="pages">
    {% for page_num in paginator.zipped_page_range %}
      {% if page_num == None %}
        <span class="page zip-item">...</span>
      {% elif current_page_number == page_num %}
        <span class="page active">{{ page_num }}</span>
      {% else %}
        <a href="{{ paginator.link_to(page_num) }}" property="url"
           class="page link {% if current_page_number == page_num %}active{% endif %}"
           data-page="{{ page_num }}">{{ page_num }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% if paginator.next_page_number %}
    <a href="{{ paginator.link_to(paginator.next_page_number) }}"
       class="nav-item next-page"
       data-page="{{ paginator.next_page_number }}">{{ _('Next') }}</a>
  {% else %}
    <span class="nav-item next-page disabled">{{ _('Next') }}</span>
  {% endif %}
</div>
