{% if breadcrumbs %}
    <ul class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
        {% for crumb in breadcrumbs %}
            {% if crumb.url and not loop.last %}
                <li class="breadcrumb-item {% if loop.last %}active{% endif %}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{{ crumb.url }}" class="breadcrumb-link" itemprop="item">
                        <span itemprop="name">{{ crumb.title }}</span>
                    </a>
                    <meta itemprop="position" content="{{ loop.index }}"/>
                </li>

            {% else %}
                <li class="breadcrumb-item {% if loop.last %}active{% endif %}" property="item">
                    <span property="name">{{ crumb.title }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
