@import 'mixins';

//$menu_text_color: #000;
//$menu_active_color: rgba($menu_text_color, .85);
//
//$mobile_background: #2C55D1;
//$mobile_text_color: $menu_text_color;
//$mobile_active_color: $menu_active_color;

$logo_width: 170px;
$logo_height: 63px;

//$arrow_width: 8px;
//$arrow_height: 14px;


.menu-opened {
  overflow: hidden;
}


// базовый класс всех меню
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -10px;

  @include zero_fontsize;

  //margin: -15px -10px;
  &__top {
    width: 100%;
    overflow: auto;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .phone-box {
      font-weight: 700;
      margin-bottom: 30px;
      margin-right: 0 !important;
      text-align: left !important;
      justify-content: flex-start !important;
      @include font_poppins;
      @include font-size(20px, 24px);
    }
  }

  .submenu-parent {
    position: relative;
    padding-right: 22px;
    cursor: default;
    width: 100%;

    .menu__toggle {
      content: '';
      position: absolute;
      border: 7px solid transparent;
      border-top: 8px solid rgba(#214CCD, .8);
      top: 50%;
      transform: translateY(-2px);
      right: -2px;

      @include media_interval(0, $media_mobile) {
        right: -15px;
      }

      &.opened {
        transform: translateY(-6px) rotate(-180deg);
      }
    }

    @include media_interval(0, $media_mobile) {
      padding-right: 0;
    }
  }

  a.submenu-parent {
    cursor: pointer;
  }

  a.submenu-parent .menu__toggle {
    cursor: pointer;
  }

  .menu__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: 600;

    @include font-size(16px, 19px);
    @include font_poppins;

    & > a, & > span {
      position: relative;

      &:after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #1f1f1f;
        position: absolute;
        left: 0;
        bottom: -5px;
      }

      &:hover, &.active {
        &:after {
          width: 100%;
        }
      }

      &, &:hover {
        &:after {
          transition: width .15s ease;
        }
      }
    }

    @include media_interval(0, $media_mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    &.active {
      color: $gold;
    }
  }

  &--header {
    margin: 0 -10px;
    justify-content: flex-start;
    padding: 0 20px;
    box-sizing: border-box;

    .menu__item {
      color: #1f1f1f;
      margin-bottom: 0;
      padding: 10px;
      margin-right: 20px;
      position: relative;

      @include media_interval($media_mobile, $media1400) {
        margin-right: 0;
      }

      &:hover {
        .submenu-parent {
          .menu__toggle {
            transform: translateY(calc(-50% - 2px)) rotate(180deg);
          }
        }

        & > .menu-inner {
          pointer-events: all;
          opacity: 1;
        }
      }

      &, &:hover {
        .submenu-parent {
          .menu__toggle {
            transition: transform .15s ease;
          }
        }
      }

      @include media_interval($media_mobile, $media1200) {
        margin-right: 30px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    .menu-inner {
      //padding-top: 10px;
      box-sizing: border-box;
      position: absolute;
      pointer-events: none;
      left: 0;
      opacity: 0;
      bottom: 0;
      width: 0;
      height: 0;
      transform: translate(0, 100%);
      //margin-left: -20px;
      user-select: none;

      .menu {
        box-shadow:
                0 4px 8px rgba(255, 255, 255, 0.18),
                0 0 2px rgba(255, 255, 255, 0.12),
                0 0 1px rgba(0, 0, 0, 0.04);
      }

      .menu__item {

        &, &:hover {
          .submenu-parent {
            .menu__toggle {
              transform: translateY(calc(-50% + 2px)) rotate(270deg);
              right: 15px;
              width: 0;
            }
          }
        }
      }

      a, span {
        width: 100%;
        white-space: nowrap;
      }

      .menu-inner {
        top: 0;
        bottom: auto;
        right: 0;
        left: auto;
      }
      @include media_interval(0, $media_mobile) {
        display: none;
      }
    }

    & .menu {
      background-color: $white;
      //border-radius: 4px;
      padding: 20px;
      width: 100%;
      display: inline-table;
      //min-width: 260px;
      box-sizing: border-box;
      position: absolute;
      margin: 0;

      .menu__item {
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        text-align: left;

        @include font-size(16px, 19px);

        &:last-of-type {
          margin-bottom: 0;
        }

        .item-caption {
          padding: 10px;
        }

        a {
          &:hover {
            background-color: #ECEFF5;
            opacity: 1;
            color: #000;
          }

          &, &:hover {
            transition: background-color .15s ease;
          }
        }
      }
    }

    @include media_interval(0, $media_mobile) {
      margin: 0;
      position: relative;
      overflow: auto;
      width: 100%;

      z-index: 9999;
      flex-wrap: nowrap;
      //height: 768px;
      //height: 100vh;
      text-align: left;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .menu__item {

        a {

        }

        .menu__item {
          &.active > a, &.active > div {
            color: rgb(0, 0, 0);
          }
        }
      }

      .menu__item {
        color: $white;

        @include font-size(14px, 17px);

        &:last-of-type {
          margin-bottom: 0;
        }

        @include media_interval(0, $media_mobile) {
          text-align: center;
        }
      }
    }

    @include media_interval(0, $media_mobile) {
      display: none;
    }
  }

  &--footer {

    .menu__item {
      padding: 10px;
      margin-right: 69px;
      box-sizing: border-box;

      @include media_interval($media768, $media1024) {
        margin-right: 10px;
      }

      @include media_interval(0, $media768) {
        width: 50%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    @include media_interval(0, $media768) {
      margin-bottom: -10px;
    }
  }

  &--mobile {
    flex-direction: column;
    align-items: flex-start;

    .menu__toggle {
      transform: translateY(-4px);
    }

    .menu__item {
      color: #00010E;
      padding: 15px 10px;
      width: calc(100% - 20px);
      margin-right: 0;
      box-sizing: border-box;

      .menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: -15px;
      }
    }
  }
}

.mobile-menu {
  margin: 0;
}

// Кнопка меню для мобильной версии
.mobile-menu-button {
  display: inline-block;
  position: relative;
  z-index: 60;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  user-select: none;

  .burger {
    position: relative;
    //overflow: hidden;
    display: block;
    width: $menu_burger_width;
    height: 3 * $menu_burger_line_height + 2 * $menu_burger_line_space;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: $menu_burger_line_height;
      background: $menu_burger_color;
      transition-timing-function: linear;
    }

    &:before {
      top: 0;
      box-shadow: $menu_burger_color 0 ($menu_burger_line_height + $menu_burger_line_space) 0 0;
      transform: translate3d(0, 0, 0) rotate(0deg);
      transition-property: transform, box-shadow, top;
      transition-duration: 0.55s, 0.2s, 0.2s;
      transition-delay: 0s, 0.45s, 0.45s;
    }

    &:after {
      top: 100%;
      transform: translate3d(0, -100%, 0) rotate(0deg);
      transition-property: transform, top;
      transition-duration: 0.55s, 0.2s;
      transition-delay: 0s, 0.45s;
    }

    @at-root .main-menu-opened & {
      &:before {
        top: 50%;
        box-shadow: transparent 0 0 0 0;
        transform: translate3d(0, -50%, 0) rotate(225deg);
        transition-delay: 0.1s, 0.1s, 0s, 0s;
      }
      &:after {
        top: 50%;
        transition-delay: 0.1s, 0s;
        transform: translate3d(0, -50%, 0) rotate(315deg);
      }

      //&:before, &:after {
      //  background-color: #1f1f1f;
      //}
    }
  }

  @include media_interval($media_mobile, 0) {
    display: none;
  }
}
