<div class="webpage-header">
    <div class="grid">
        <div class="gc gc-6 gc-wide-6 gc-tablet-4 gc-mobile-full">
            <div class="webpage-header__content">
                <h1 class="title title--h1">{{ page.header }}</h1>

                {% if page.description %}
                    <div class="description">
                        {{ page.description|linebreaksbr }}
                    </div>
                {% endif %}

                <div class="btn-wrapper">
                    <a href="#featured-properties" class="btn btn--gold btn--default btn--border conversion-goal go-contact" >
                        <span>{{ _('See Our Featured Property') }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="gc gc-6 gc-wide-6 gc-tablet-4 gc-mobile-full">
            {% with image=page.image.normal, prefix='header', x1=50, y1=50, x2=50, y2=50 %}
                {% include 'webpage/parts/_jelly.html' %}
            {% endwith %}
        </div>
    </div>
</div>
