{% if page.text_info_block or page.share_block %}
    <div class="textpage-information">
        {% if page.text_info_block %}
            <div class="text-information">
                {% include 'webpage/parts/author.html' %}
            </div>
        {% endif %}

        {% if page.share_block %}
            {% with description='Thanks for reading! Please like and share.' %}
                <div class="follow-box">
                    <div class="follow-buttons">
                        <div class="share-box">
                            <div class="share-buttons">
                                <div class="share-buttons__button share-buttons__button--fb-like">
                                    <div class="fb-like" data-href="{{ request.build_absolute_uri() }}" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
                                </div>
                                <div class="share-buttons__button share-buttons__button--fb-share">
                                    <div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" rel="nofollow noopener" href="https://www.facebook.com/sharer/sharer.php?src=sdkpreparse">{{ _('Share') }}</a></div>
                                </div>
                                <div class="share-buttons__button share-buttons__button--tw">
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ request.seo.twitter_card.data.description|urlencode }}">{{_('Tweet')}}</a>
                                </div>
                                <div class="share-buttons__button share-buttons__button--in">
                                    {% share_button 'li' %}
                                </div>
                            </div>
                        </div>

                    </div>

                    {% if description %}
                        <div class="follow-text default-text">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            {% endwith %}
        {% endif %}
    </div>
{% endif %}