@import 'mixins';


.popup-opened {
  overflow: hidden !important;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 101;
  @include font-size(20px);

  .mCustomScrollBox.mCS-light.mCSB_vertical.mCSB_outside {
    border-radius: 10px;
  }
}

.popup-wrapper {
  max-width: $grid_max_width;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  @include zero_fontsize;
  @include valign_after;
}

.popup-window {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
}

.popup-content {
  position: relative;
  overflow-x: visible;
  z-index: 5;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup__wrap {
  border-radius: 10px;
  display: block;
  position: relative;
  overflow: hidden;
}