@import "popups_core";


// вертикальные отступы окна
$window_margin: (
                ($media1024, 0): 60px,
                (0, $media1024): 50px
);

// размер окна
$window_width: auto;

// максимальная ширина окна
$window_max_width: (
                ($media1024, 0): 780px,
                ($media480, $media1024): 80%,
                (0, $media480): 90%,
);

// поля контентной части окна
$content_paddings: (
                ($media640, 0): 36px 50px,
                ($media480, $media640): 36px,
                (0, $media480): 20px 20px 36px,
);

// цвет фона окна
$background_color: $white;

// кнопка закрытия
$close_btn_size: 30px;
$close_btn_color: $white;
$close_btn_weight: 3px;


//=======================
// CORE
//=======================

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(31, 31, 31, 0.7);
}

.popup {
  .popup-window {
    position: relative;
    //height: 66.66%;

    overflow: visible;
    //max-height: 66.66vh;
    @include media_map(width, $window_width);
    @include media_map(max-width, $window_max_width);
    @include media_map((margin-top, margin-bottom), $window_margin);
  }

  .popup-close-button {
    position: absolute;
    top: -9px;
    right: -5px;
    width: $close_btn_size;
    height: $close_btn_size;
    z-index: 6;
    cursor: pointer;
    transform: translateY(-100%) rotate(-180deg);
    transform-origin: center center;
    transition: transform 0.2s;
    background-color: #1f1f1f;
    border-radius: 50%;

    //@include media_interval(0, $media768) {
    //  top: 40px;
    //  right: 5px;
    //}

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 15px;
      height: $close_btn_weight;
      background: $close_btn_color;
      border-radius: $close_btn_weight;
    }

    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }

    &:hover {
      transform: translateY(-100%) rotate(-270deg);
    }
  }


  .popup-content {

    .btn-wrapper {
      margin-top: 10px;

      .btn {
        width: 100%;
      }
    }
  }

  &__inner {
    background-color: $background_color;
    padding: 30px 50px;
    box-sizing: border-box;

    @include media_interval(0, $media768) {
      padding: 20px;
    }
  }
}
