@font-face {
  font-family: "Roboto";

  src: url("./font.woff2") format("woff2"), /* Modern Browsers */
    url("./font.woff") format("woff"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}