{% if message.name %}
  <p><b>{{ _('Name') }}:</b> {{ message.name }}</p>
{% endif %}

{% if message.phone %}
  <p><b>{{ _('Phone') }}:</b> {{ message.phone }}</p>
{% endif %}

{% if message.email %}
  <p><b>{{ _('E-mail') }}:</b> {{ message.email }}</p>
{% endif %}

{% if message.property %}
  <p><b>{{ _('Property') }}:</b> {{ message.property }}</p>
{% endif %}

{% if message.message %}
  <p><b>{{ _('Message') }}:</b> {{ message.message }}</p>
{% endif %}

{% if message.referer %}
  <p><b>{{ _('From page') }}:</b> <a href="{{ message.referer }}" target="_blank">{{ message.referer }}</a></p>
{% endif %}

{% if request.COOKIES.utm %}
  <p><b>{{ _('UTM') }}:</b> {{ request.COOKIES.utm }}</p>
{% endif %}