<div class="popup--service">
    <div class="popup__wrap">
        <div class="service__image">
            <picture>
                {% if service.image.normal.srcset_webp %}
                    <source srcset="{{ service.image.normal.srcset_webp }}" sizes="100vw" type="image/webp">
                {% endif %}
                <source srcset="{{ service.image.normal.srcset }}" sizes="100vw" type="image/jpeg">
                <img
                        src="{{ service.image.normal.url }}"
                        alt="{{ service.title }}"
                        width="{{ service.image.normal.target_width }}"
                        height="{{ service.image.normal.target_height }}">
            </picture>
        </div>
        <div class="popup__inner">
            <div class="title">{{ service.title }}</div>
            <div class="text text-styles">
                {{ service.text|textstyles_lazy }}
            </div>
        </div>
    </div>
</div>

<div class="btn-wrapper">
    <a href="#contacts" class="btn btn--border btn--default btn--gold go-contact">
        <span>{{ _('Contact Us') }}</span>
    </a>
</div>