<div class="rule rule--{{ rule.icon }}">
    <div class="rule__wrapper">
        <div class="rule__header">
            <div class="icon"></div>
            <div class="rule__title title title--h6">{{ rule.title }}</div>
        </div>

        {% if rule.description %}
            <hr>
            <div class="rule__description">{{ rule.description|linebreaksbr }}</div>
        {% endif %}
    </div>
</div>