<div data-id="{{ service.id }}" class="service{% if service.text %} service--clickable{% endif %}" data-slug="{{ service.slug }}">
    <div class="service-wrapper">
        {% if service.preview %}
            <div class="service__preview">
                <picture>
                    {% if service.preview.normal.srcset_webp %}
                        <source srcset="{{ service.preview.normal.srcset_webp }}" type="image/webp" sizes="100vw" media="(min-width: 1024px)">
                    {% endif %}
                    <source srcset="{{ service.preview.normal.srcset }}" type="image/jpeg" sizes="100vw" media="(min-width: 1024px)">
                    {% if service.preview.tablet.srcset_webp %}
                        <source srcset="{{ service.preview.tablet.srcset_webp }}" type="image/webp" sizes="100vw" media="(min-width: 480px)">
                    {% endif %}
                    <source srcset="{{ service.preview.tablet.srcset }}" type="image/jpeg" sizes="100vw" media="(min-width: 480px)">
                    {% if service.preview.mobile.srcset_webp %}
                        <source srcset="{{ service.preview.mobile.srcset_webp }}" type="image/webp" sizes="100vw" media="(max-width: 480px)">
                    {% endif %}
                    <source srcset="{{ service.preview.mobile.srcset }}" type="image/jpeg" sizes="100vw" media="(max-width: 480px)">
                    <img
                            src="{{ service.preview.normal.url }}"
                            alt="{{ service.title }}"
                            loading="lazy"
                            decoding="async"
                            width="{{ service.preview.normal.target_width }}"
                            height="{{ service.preview.normal.target_height }}">
                </picture>
            </div>
        {% endif %}
        {% if service.question %}
            <div class="service__question title">{{ service.question }}</div>
        {% endif %}
    </div>

    <span class="service__title title title--h6">{{ service.title }}</span>
</div>