<section class="block block--contacts">
    <div class="grid">
        <div class="gc-7 gc-wide-7 gc-tablet-4 gc-mobile-full">
            <div class="information-container">

                <div class="image-wrapper">
                    <div class="image-wrapper__image">
                        <picture>
                            <source srcset="{{ static('contacts/img/img.avif') }}" type="image/avif">
                            <source srcset="{{ static('contacts/img/img.webp') }}" type="image/webp">
                            <source srcset="{{ static('contacts/img/img.png') }}" type="image/png">
                            <img src="{{ static('contacts/img/img.png') }}" alt="" loading="lazy" decoding="async" width="700" height="625">
                        </picture>
                        {% with prefix='contact'  %}
                            <div class="jelly jelly--{{ prefix }}">
                            <div class="loading_cont">
                                <svg xmlns="http://www.w3.org/2000/svg" id="loader_{{ prefix }}">
                                    <defs>
                                        <filter id="goo_{{ prefix }}">
                                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                                            <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo_{{ prefix }}" />
                                            <feBlend in2="goo" in="SourceGraphic" result="mix" />
                                        </filter>
                                    </defs>
                                    <mask id="mask_{{ prefix }}">
                                        <g class="blobs">
                                            <circle class="blob" cx="215" cy="125" r="115" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                                            <circle class="blob" cx="135" cy="110" r="100" transform="rotate(0) translate(0, 0) rotate(0)"></circle>
                                        </g>
                                    </mask>
                                    <rect x="0" y="0" mask="url(#mask_{{ prefix }})" fill="#FFECBC" width="335" height="335"></rect>
{#                                    <rect id="rect1" width="100" height="100" ry="10" fill="#FFECBC" style="transform: rotate(41deg) translate(60px, 161px); border-radius: 10px;}"/>#}
                                </svg>
                            </div>
                        {% endwith %}
                        </div>
                    </div>
                    <div class="image-wrapper__content">
                        <h2 class="title title--h2">{{ block.title }}</h2>
                        <div class="description">{{ block.description|linebreaksbr }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gc-5 gc-wide-5 gc-tablet-4 gc-mobile-full">
            <div class="form-container" data-hash="contacts">
                <form action="{{ ajax_url('contacts.message') }}" method="post" id="fmContact">
                    {% csrf_token %}

                    <div class="fields">
                        {% render_form form %}
                    </div>

                    <div class="btn-wrapper">
                        <button class="btn btn--gold btn--border btn--default contact-goal" type="submit">
                            <span>{{ _('Get in touch') }}</span>
                        </button>
                        <div class="recaptcha">
                            <span class="recaptcha__text">{{ _('This site is protected by reCAPTCHA and the Google') }}</span>
                            <a class="recaptcha__link" href="https://policies.google.com/privacy" target="_blank" rel="nofollow noopener">{{ _('Privacy Policy') }} </a> <span class="recaptcha__text"> {{ _('and') }} </span>
                            <a class="recaptcha__link" href="https://policies.google.com/terms" target="_blank" rel="nofollow noopener">{{ _('Terms of Service') }} </a> <span class="recaptcha__text"> {{ _('apply.') }}</span>
                        </div>
                        <div id="recaptcha_contact"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>