{% extends 'layout.html' %}

{% block static_head %}
    {{ super() }}
    {% inline_stylesheet 'success_critical' %}
{% endblock static_head %}

{#{% block critical_css %}#}
{#    {% inline_stylesheet 'service_page' %}#}
{#{% endblock critical_css %}#}

{% block content %}
    <div class="page page--success">
        <div class="grid-block">
            <div class="page-wrapper">
                <h1 class="title">
                    {{ page.header }}
                </h1>

                <div class="description">
                    <p>Your application has been submitted!</p>
                    <p>Our specialists will contact you as soon as possible. If you have an urgent question, you can call us</p>
                </div>

                <div class="phone">
                    <a href="tel:3032183497">+303 218-3497</a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ url('main:index') }}" class="btn btn--default btn--gold btn--border">
                        <span>{{ _('Go to the Home Page') }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}