@import "mixins";

.block--contacts {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: -100px;
    width: 272px;
    height: 552px;
    background-image: url("/static/contacts/img/image1.svg");
    background-size: cover;
    z-index: -1;

    @include media_interval(0, $media768) {
      display: none;
    }
  }

  .information-container {
    //width: 380px;
    max-width: 100%;
    min-height: 625px;
    position: relative;
    transform: translateX(-25px);

    &:before {
      content: '';
      position: absolute;
      background-image: url("/static/contacts/img/img.png");
      width: 700px;
      height: 625px;
      background-size: cover;
      right: 0;

      @include media_interval($media768, $media1024) {
        width: 553px;
        height: 494px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 22px;
      width: 533px;
      height: 603px;
      background-image: url("/static/contacts/img/mask1.svg");
      background-size: cover;

      @include media_interval($media768, $media1024) {
        width: 420px;
        height: 476px;
        bottom: -174px;
      }
    }

    &:before, &:after {
      @include media_interval(0, $media768) {
        display: none;
      }
    }

    @include media_interval(0, $media1024) {
      min-height: auto;
      transform: translateX(0);
    }
  }

  picture {
    position: relative;
    display: none;

    @include media_interval(0, $media768) {
      display: block;
      //
      //  &:before {
      //    content: '';
      //    position: absolute;
      //    left: 0;
      //    top: 0;
      //    width: 100%;
      //    height: 100%;
      //    transform: rotate(-5deg);
      //    background-image: url("/static/contacts/img/mask2.svg");
      //    background-size: cover;
      //    z-index: -1;
      //  }
    }
  }

  .image-wrapper {
    position: relative;
    //  position: absolute;
    //  width: 700px;
    //  right: 0;
    //
    &__content {
      position: relative;
      z-index: 2;
      width: 380px;
      right: 10px;
      top: 50px;
      margin: 0 0 0 auto;

      @include media_interval(0, $media768) {
        width: 100%;
        top: 0;
        right: 0;
        margin-top: 30px;
      }

      @include media_interval($media768, $media1024) {
        width: 335px;
      }
    }
  }

  .form-container {
    //width: 280px;
    max-width: 100%;

    @include media_interval(0, $media768) {
      width: 100%;
      margin-top: 30px;
    }
  }

  .description {
    margin-top: 20px;
    color: $text-color;

    @include fontsize_default;
    @include font_default;
  }

  .recaptcha {
    color: #8d8d8d;
    margin-top: 20px;

    @include font_open_sans;
    @include font-size(12px, 19px);

    a {
      display: inline;
      opacity: .85;

      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity .15s ease;
      }
    }
  }

  .image-wrapper__image {
    position: relative;
    width: 335px;
    margin: auto;

    .jelly--contact {
      position: absolute;
      top: 0;
      width: 335px;
      height: 355px;
      z-index: -1;

      #mask2_contact {
        display: none;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      .loading_cont {
        width: 100%;
        height: 100%;
      }

      #loader_about {
        display: inline-block;
        position: relative;
        width: 400px;
        height: 355px;
        transform: translateX(-50%);
        left: 50%;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%, -10%);
      }

      rect {
        transform-origin: 50% 48%;
      }

      //.blobs {
      //  filter: url("#goo_about");
      //}

      .blob {
        fill: white;
      }

      @include media_interval($media768, 0) {
        display: none;
      }
    }

  }
  .btn-wrapper {
    .btn {
      width: 100%;
    }
  }
}
