@import "mixins";


.page--success {
  margin: 100px 0;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    background-size: cover;
    z-index: -1;

    @include media_interval(0, $media1024) {
      display: none;
    }
  }

  &:before {
    top: 100px;
    left: 0;
    width: 117px;
    height: 364px;
    background-image: url("/static/blocks/img/faq/image1.svg");
  }

  &:after {
    left: 182px;
    top: -100px;
    width: 220px;
    height: 216px;
    background-image: url("/static/blocks/img/faq/image2.svg");
  }

  .page-wrapper {
    width: 480px;
    max-width: 100%;
    margin: auto;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: -100px;
      width: 272px;
      height: 552px;
      background-image: url("/static/contacts/img/image1.svg");
      background-size: cover;
      z-index: -1;

      @include media_interval(0, $media1024) {
        display: none;
      }
    }
  }

  .title {
    font-weight: 400;
    text-align: center;
    color: #1f1f1f;

    @include font-size(70px, 87px);

    @include media_interval(0, $media768) {
      @include font-size(50px, 60px);
    }
  }

  .description {
    font-weight: 300;
    color: #1f1f1f;
    text-align: center;
    margin-top: 10px;

    @include font_poppins;
    @include fontsize_default;
  }

  .phone {
    margin-top: 40px;
    color: $gold;
    text-transform: capitalize;
    text-align: center;

    @include font_poppins;
    @include font-size(50px, 60px);

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity .15s ease;
    }

    @include media_interval(0, $media768) {
      @include font-size(35px, 40px);
    }
  }

  .btn-wrapper {
    margin: 40px auto 0;
    width: 400px;
    max-width: 100%;

    .btn {
      width: 100%;
    }
  }
}